[2018-01-25 17:50] regel opened #1 "No Debian support yet in 1.0"
We are missing Debian support in 1.0, and have to package, test, and release the files.

[2018-01-25 18:53] regel opened #2 "loudml delete-model returns 0 when model does not exist"
The loudml CLI for delete-model does return 0 and does not complain when requested to delete inexistent model.

[2018-01-26 17:44] regel opened #3 "Add more InfluxDb aggregation operators in the feature DSL"
Loud ML 1.0 supports the InfluxDb 1.4 aggregations 'COUNT' and 'AVG'

However InfluxDb 1.4 Aggregations supports more operators:
COUNT()
DISTINCT()
INTEGRAL()
MEAN()
MEDIAN()
MODE()
SPREAD()
STDDEV()
SUM()

InfluxDb documentation: https://docs.influxdata.com/influxdb/v1.4/query_language/functions/#example-1-calculate-the-mean-field-value-associated-with-a-field-key

[2018-01-28 16:43] regel opened #4 "starting/enabling inference jobs. No running jobs after restarting loudmld.service"
The systemd services can be enabled/disabled, and/or started/stopped.

The loudml 1.1 release implements a _start and _stop operation to control the running inference processes. It does not have a status for 'enabled' or 'disabled'. When loudmld is restarted, we're losing this information and the jobs are not running.

[2018-01-28 16:45] regel opened #5 "max_evals not used in configuration file"
The max_evals setting in the model file does not seem to be used for training. This parameter may be moved to the _train API since it is user-defined at training time.

[2018-01-28 16:46] regel opened #6 "No datasource option in _train API"
The 'train' CLI can choose from the available data sources. However this parameter does not exist in the _train API.

[2018-01-28 22:58] regel opened #7 "Generating and writing SIN data to Elasticsearch"
On my localhost, elasticsearch-5.6.6 the generated data is not written to elasticsearch and the command below returns immediately.

[code]

[2018-02-01 20:10] regel commented on #3
Solved in 1.2 just released

[2018-02-01 20:10] #3 closed

[2018-02-13 21:11] regel commented on #1
Version 1.2 is now available for Debian 9(stretch) from our public repository. Thank you Christophe for the night work on Debian packaging and CI/CD automation !

[2018-02-13 21:11] #1 closed

[2018-02-28 00:49] lmangani opened #8 "DEB packages missing"
Hi Sebastien,

Following the setup instructions, the DEB package repository location seems to be non existing:
[code]

Any advice or suggestions?

[2018-02-28 12:14] osunac commented on #8
The version in the repository is 1.2.0 plus some patches, resulting in the version number to be different.

I recommend following the documentation at http://loudml.io/guide/en/loudml/reference/current/deb.html :
- install dependencies
- create a file ` /etc/apt/sources.list.d/loudml-1.x.list` with the following contents:
[code]
- run the commands to install the packages
[code]
- (skip the section

[2018-03-06 14:37] regel commented on #8
It should be solved now with 1.2.1, is it ? Thank you Lorenzo for downloading the package. Please let us know your thoughts&ideas on what's missing in this release;)

[2018-03-06 14:43] lmangani commented on #8
Thanks! We're playing with it and will sure have feedback soon, thanks for sharing!

[2018-03-06 17:30] opvizordz commented on #8
1.2.1 manual installation works well! Thanks

[2018-03-07 18:49] opvizordz opened #9 "ImportError: bad magic number in 'loudml'"
Any idea, why I get the following error using the latest 1.2.1 version:
 loudml create-model model.yml
Traceback (most recent call last):
  File "/usr/bin/loudml", line 11, in <module>
    load_entry_point('loudml==1.2', 'console_scripts', 'loudml')()
  File "/home/user/.local/lib/python3.5/site-packages/pkg_resources/__init__.py", line 572, in load_entry_point
    return get_distribution(dist).lo

[2018-03-08 00:40] #8 closed

[2018-03-08 00:43] osunac commented on #9
The current package is limited to Debian Stretch only. Could it be that you are installing it on a Ubuntu system?

[2018-03-08 07:58] opvizordz commented on #9
Yes, I tried Debian 8 and Ubuntu - my mistake. Debian 9 works fine.
Thanks

[2018-03-08 07:58] #9 closed

[2018-03-08 11:31] opvizordz opened #10 "Influx Error"
I followed the guide here using Influxdb 1.5 and loudml 1.2.1: https://medium.com/swlh/easy-machine-learning-tricks-for-linux-developers-in-2018-f697d153d904

I created the model based on:

[code]
config file:
root@deb9:/etc/loudml# cat config.yml
[code]
loudml create-model /home/test/model.yml

Creating the model works fine, but the train command fails:
_loudml train my-timeseries-model --from no

[2018-03-08 23:51] pvunog opened #11 "Not getting the expected status message (GET /)"
Hi,

Trying to test loudml on earthquake dataset on ElasticSearch (https://github.com/elastic/examples/tree/master/Exploring%20Public%20Datasets/earthquakes)

I installed loudml on CentOS 7 using the rpm.
After configuration with config.yml:

-------
datasources:
- name: elastic
  type: elasticsearch
  addr: localhost:9200
  index: ncedc-earthquakes-earthquake

storage:
  path: /var/lib/loudml

lo

[2018-03-09 03:04] osunac commented on #11
Hi,

It looks like the doc and the source are not in sync.

Please ignore the error when querying ``/``. As you noticed the rest of the API does work.

[2018-03-09 08:28] regel commented on #10
Thank you Dennis for the information. We can reproduce the issue & are looking at it today.

[2018-03-09 12:19] syntrop opened #12 "Installation on Ubuntu 16.04 - bad magic number in 'loudml'"
Hi
I'm trying to install loudml on my server by following manual installation steps, and got some strange errors:

My server:
Ubuntu 16.04.3 LTS
Python 3.5.2

**auto installation is failing too - file is not found. See logs below**

Could someone guide me how I can solve this "bad magic" issue?

This is what I see in the  journal logs:
[code]

p.s.
"normal" installation is failing:

[code]

[2018-03-09 12:30] opvizordz commented on #12
I made the same mistake. You need to install loudlm on Debian Stretch (9) - Ubuntu is not working

[2018-03-09 12:44] syntrop commented on #12
Thank you  @opvizordz ! I'll give it a try

[2018-03-09 12:54] osunac commented on #12
Sorry for this issue and thanks to @opvizordz for suggesting the best workaround for Ubuntu users. The current package will definitely work on Debian 9 and will let you move to the next step.

[2018-03-13 17:10] syntrop commented on #12
I manage to install it manually.

apt-get way did not work for me.

Thank you for the help. I'll close this one.

[2018-03-13 17:10] #12 closed

[2018-03-13 17:16] syntrop opened #13 "trying to run model from example."
I'm trying to run my first model, by following the docs (http://loudml.io/guide/en/loudml/reference/current/cli-create-model.html)

My JSON file looks almost exactly the same as in the example. I just change DB and table names.

DB source: influx
server: localhost

and I'm getting strange errors:

`loudml create-model model.json`

ERROR:
[code]

I've check permissions. I even added g+w for the /va

[2018-03-14 20:14] regel commented on #13
The /var/lib/loudml directory should be owned by the loudml user. This is a system user, without privileges, that was created at package installation.

The command below should solve the issue:

chmod -R loudml: /var/lib/loudml

Then restart the daemon.

Best,

Sébastien

[2018-03-14 20:19] regel commented on #10
1.2.2 is out. We have added more console logs, and fixed a couple gotchas here and there, but are not 100% sure it will help.

Your "pip3 freeze" output will help, can you attach a file? We will compare the packages with our environment and probably more directions to investigate.

[2018-03-14 20:24] syntrop commented on #13
Hi Sébastien

Thank you for the reply. I think you wanted to write **chown**

I my case I have a correct owner:
[code]

[code]

but still getting:
[code]

[2018-03-15 13:15] syntrop commented on #13
solved by installing version 1.2.2 and executing this as root

[2018-03-15 13:20] syntrop opened #14 "Train and predict: ERROR:root:%s (type = '%s') (version 1.2.2)"
Hi
I managed to create model, but not able to run `train` or `predict`

It shows me (executed as root):

[code]

or with another model train/predict
[code]

and if I execute this as normal user:
[code]

[2018-03-15 15:51] opvizordz commented on #10
I get a different error now:
ERROR:root:%s (type = '%s')

pip3 freeze
aniso8601==0.83
bleach==1.5.0
blinker==1.3
certifi==2018.1.18
chardet==3.0.4
click==6.6
colorama==0.3.7
cryptography==1.7.1
dateutils==0.6.6
decorator==4.2.1
elasticsearch==6.1.1
Flask==0.12.1
Flask-RESTful==0.3.5
future==0.16.0
h5py==2.7.0
html5lib==0.9999999
httplib2==0.9.2
hyperopt==0.1
idna==2.6
influxdb==5.0.0
itsdangerous=

[2018-03-19 11:10] vnyb commented on #10
It seems that `loudml-influx` is not installed (sorry, it was missing in the guide!).

Just install it with:

[code]

or

[code]

[2018-03-19 14:05] vnyb commented on #11
`GET` on `/` will reply LoudML version

[2018-03-19 14:12] vnyb commented on #14
Error formatting will be fixed in 1.2.3.
It seems that the package for the datasource you use is not installed.

For InfluxDB, install `loudml-influx`:

[code]
or
[code]

For Elasticsearch, install `loudml-elastic`:

[code]
or
[code]

[2018-03-19 14:20] syntrop commented on #14
In my case I can not use standard apt-get because of this:
E: Failed to fetch http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb/packages/1.x/apt/dists/stable/main/binary-amd64/Packages  404  Not Found

Then I've tried to install manually http://loudml.io/guide/en/loudml/reference/current/deb.html#install-deb

But there is no info in the doc about how can I get loudml-influx or other packag

[2018-03-19 16:05] vnyb commented on #5
`max_evals` is taken into account and it is now possible to override the value defined in model when launching training.

[2018-03-19 16:07] vnyb commented on #2
Already fixed

[2018-03-19 16:07] #2 closed

[2018-03-20 04:58] osunac commented on #14
Documentation has been updated.

Could you try to run again the instructions from the documentation?

- repository definition (URL has been updated)
- ``apt-get update``
- ``apt-get install -y loudml loudml-influx``

[2018-03-20 17:35] regel commented on #13
Thank you @syntrop - Your can actually add your local user in the group 'loudml' and it will allow you to use the CLI as local user.

This is an important point, and we have to fix the documentation.

Thanks for catching this!

[2018-03-22 09:07] #6 closed

[2018-03-22 09:07] #5 closed

[2018-03-22 16:44] regel commented on #10
Hi Dennis, did you install the loudml-influx package?

It was missing from our APT repository, so it may not have been installed properly in your environment.

Also, by comparing all pip packages between your environment and my local env I found the following package versions differences.
My local env has:
--
aniso8601==3.0.0
click==6.7
Flask==0.12.2
Flask-RESTful==0.3.6
h5py==2.7.1
Jinja2==2.10
M

[2018-03-23 04:17] osunac commented on #11
Fixed in release 1.2.3.

[2018-03-23 04:17] #11 closed

[2018-03-23 15:31] regel opened #15 "time delta expression using M (months) units is not working"
$ rpm -qi loudml
Name        : loudml
Version     : 1.2.2

The "now-16M" relative time delta expression returns an error:
ERROR:root:data is invalid: invalid time delta

[2018-03-23 15:40] regel opened #16 "Error in influx query during training"
I get this error during training:

GET /query?q=select+COUNT%28duration%29+as+countCall+from+duration+where+time+%3E%3D+1480347297980378000+and+time+%3C+1482939297980405000+group+by+time%281200000ms%29%3B&db=sip HTTP/1.1
Host: localhost:8086
Connection: keep-alive
Accept: text/plain
User-Agent: python-requests/2.18.4
Accept-Encoding: gzip, deflate
Content-Type: application/json
Authorization: Basi

[2018-03-23 16:15] regel commented on #13
I'm reopening. Adding the local user to 'loudml' group is not sufficient.
usermod -a -G loudml regel

Version 1.2.3 creates the .lmm files with 644 permissions, but we should use 664 instead.

A quick workaround is:
chmod 664 /var/lib/loudml/models/*.lmm

[2018-03-26 05:29] opvizordz commented on #10
Hi Sébastien, Hi Vianney,

installing loudml-influx fixed the root Error but I had another error. But that one could be fixed by downgrading the networkx package
`pip3 install networkx==1.11`

I start training now.

Thanks,

Dennis

[2018-03-26 19:14] #10 closed

[2018-04-09 12:21] regel opened #17 "loudmld not listening on TCP port if /var/lib/loudml contains unexpected content"
EL7, running loudml-1.2.4

I notice that loudmld is started, but is not listening on port 8077.

The root cause appears to be an exception at start time, due to a model file containing unexpected data. This exception could be reproduced in an upgrade/downgrade scenario.

[2018-04-09 15:10] vnyb commented on #17
I can't reproduce this bug. What do you mean exactly by unexpected data? I've added an extra field but not exception is raised. Could you provide an example?

[2018-04-09 20:43] regel commented on #17
Yes, the steps to reproduce:
 - install the fingerprint version from a local rpm build,
 - create and save a fingerprint model,
 - uninstall this release
 - install 1.2.4 version
 - restart loudmld
 -> loudmld no longer responding on port 8077

An exception appears in the console when running loudmld. The exception is apparently preventing loudmld from starting completely, as we do not get respons

[2018-04-17 06:43] hbs opened #18 "Support Warp 10 as the time series backend"

[2018-04-24 13:50] gbour opened #19 "Error while training model"
Hello,

Trying & testing loudml.
Unfortunately, I got following error when training my model:
[code]

loudml is installed on debian 9.4
[code]

[2018-04-24 18:03] regel commented on #19
Thank you Guillaume, can you please copy/paste pip3 freeze output? We have seen issues with 'networkx' package, let's have a look at the version installed.

[2018-04-25 11:27] gbour commented on #19
here it is
[code]

[2018-04-26 09:53] gbour commented on #19
Thanks @regel, it does the trick ! :smiley:

[2018-04-26 09:53] #19 closed

[2018-05-09 05:34] jccq opened #20 "404 from your website"
one easy to fix :) the link from the website to github (bottom of the page) points to https://github.com/regel/loudml-docs which gives a 404

[2018-05-14 09:48] regel commented on #20
Hi Giovanni, thanks a lot! Should be solved now.

[2018-05-14 09:48] #20 closed

[2018-05-21 23:10] lmangani opened #22 "Aggregating from distinct data sources"
### Feature Request
Many scenarios could benefit from the ability to create models aggregating data from multiple data sources _(different Influx databases/measurements, or Influx measurements + Elasticsearch series, future SQL, etc)_ to expand the current capabilities and train models using interpolation across distinct source fields, etc.

[2018-05-24 16:32] regel commented on #14
fixed the documentation

[2018-05-24 16:32] #14 closed

[2018-05-24 16:33] regel commented on #22
+1 :)

[2018-05-29 17:01] regel opened #25 "Have the MSE included in predict CLI command output"
1.3.0

We save the MSE (validation loss) to disk when training a model. This information should also be included in the JSON status returned in the predict CLI command.

This would allow users to find if there is overfit, or not, by comparing the 2 MSE values and evaluate the model behaviour over time. Or, after training and using the model decide if it is necessary to re-train the model on new da

[2018-05-29 17:12] regel opened #26 "Filling missing feature values by last known value"
1.3.0

When defining features in a time series model, missing values will be NaN and prevent the model from giving predictions.

This occurs, eg when using mean(parameter) aggregation and data points are missing in a given time bucket, causing the mean to be undefined at that point in time.

With 1.3.0, the 'default' property gives the ability to fill these NaN (missing values), with a static defa

[2018-05-29 17:18] regel opened #27 "Resume training, using the current checkpoint"
1.3.0

Release 1.3.0 does not support versioning. Any training operation will overwrite previous known training data.
As an alternative, the user may want to continue training with new data based on the current state (checkpoint), save CPU/GPU cycles and save time to refit the model.

[2018-05-29 17:28] regel opened #28 "Have the ability to deploy models via Tensorflow serving"
Model versioning is not implemented in S/W release 1.3.0

Using Tensorflow serving can be a useful alternative to save model training state, handle versioning, and select the best candidate as a running production version. This will have the benefits to:
 - Keep revision history, and compare MSEs between models
 - Have the ability to deploy a given version, at any time
 - Easily experiment with ne

[2018-05-29 17:42] regel opened #29 "Errors in job queue if running _start, and deleting the model using the CLI"
1.3.0

We run into an issue with the scheduler by doing:
 1. if we schedule periodic runs on a given model, using models/model-name/_start API
 2. and then deleting the model, eg, using the CLI

Jobs continue to run periodically in the queue, and enter in failed status. No other impact except the job queue that getting failed jobs. Restarting loudmld does fix the issue, still we need to ensure con

[2018-05-29 17:53] regel opened #30 "loudmld Version is reported as 1.2, when running 1.3.0"
1.3.0

Version is reported as 1.2 when running GET localhost:8077/ with loudmld, when in fact it should be 1.3.0, or better to automatically include a version string matching the version deployed.

[2018-05-31 19:05] #4 closed

[2018-06-01 08:07] #30 closed

[2018-06-01 09:58] vnyb commented on #25
MSE has been added to `on_anomaly_start()` on anomaly detection. It is also available when running CLI with `--anomalies` option on `predict`.

[2018-06-06 14:43] vnyb opened #31 "Implement pretty formatting"
When adding `?pretty=true` to the URL, the returned result must be pretty-formatted (indent = 4)

[2018-06-06 15:51] #31 closed

[2018-06-07 15:01] mvadu opened #32 "License"
Hi Regel,
Have you decided on the license for Loudml? Is it going to be MIT? I don't see any license added to repo.

[2018-06-07 15:13] vnyb commented on #32
Hi,

The Python API allowing the development of extensions for LoudML is under GPL License (see https://github.com/regel/loudml/tree/master/api).

The rest of LoudML implementation distributed through `.deb`, `.rpm` and Docker image is proprietary, the source code is not published.

Regards,
Vianney

[2018-06-18 11:15] gdsmith93 opened #33 "influxdb Unsupported data source"
Hi
We've recently updated to the latest loudml and we're now receiving the following message when training/predict or forecast:

ERROR:root:Unsupported data source (type = 'influxdb')

Our datasource configuration is:

---
datasources:
 - name: influx
   type: influxdb
   addr: x.x.x.x
   database: telegraf

# - name: elastic
#   type: elasticsearch
#   addr: localhost:9200
#   index: myindex

sto

[2018-06-18 11:39] vnyb commented on #33
Hi,

Is the `loudml-influx` package installed?

Could you please give me the result of the following commands?

[code]
or
[code]

and:

[code]

[2018-06-18 12:00] gdsmith93 commented on #33
Hi

Thanks for the quick response, the outputs are below:
yum info loudml
Installed Packages
Name        : loudml
Arch        : x86_64
Version     : 1.3.2
Release     : 1.el7.centos
Size        : 172 k
Repo        : installed
From repo   : loudml-1.x
Summary     : LoudML core package
URL         : www.loudml.com
License     : Proprietary
Description :

find /usr/lib -name '*loudml*'
/usr/lib/syste

[2018-06-18 12:10] vnyb commented on #33
It seems that old versions are not replaced. Thank's for your feedback, we currently fixing this upgrade issue.

As a workaround, you can erase the following directories:

[code]

[2018-06-18 12:56] gdsmith93 commented on #33
Hi, thanks for your support that worked great.

[2018-06-18 12:56] #33 closed

[2018-06-28 09:12] noypit opened #35 "Influx communication problem"
I have installed loudml on centos8 as per the installation instructions listed in the documentation.
the process is up and running:
[code]
**This is my configuration file:**

[code]

**This is my model:**

[code]
Note: when I put "******" it mean that i put their the relevant values.
When i am trying to train my model I get the following error:
[code]

**Connection aborted.', BadStatusLine("''",**

[2018-07-04 01:06] voiprodrigo opened #36 "Applying single model to InfluxDB measurement with multiple series"
Hi,

Many times there is the need to detect anomalies on top of multiple series of the same measurement, for example bandwidth utilisation of all ports of a network switch, or even the switch name may be a tag. From what I understood from the docs, you can only define tag k/v pairs as filters to select a specific series, but if LoudML could train a model for each series of the measurement dependin

[2018-07-04 07:38] regel commented on #32
Hi Adarsha,

there is a txt file included in the packages, and available in the Docker description: https://hub.docker.com/r/loudml/community/

These license terms are relevant to the CE (community) edition.

Please let us know your questions at contact@loudml.io if you'd like to license the EE edition, or an OEM agreement for commercial use in your application.

Best,

Sébastien

[2018-07-04 07:38] #32 closed

[2018-07-10 10:22] vnyb commented on #35
Hi Noy,

An error probably occurs when establishing the TLS connection. Could you please take a network capture with tcpdump or wireshark and give us the result of the TLS handshake?

[2018-07-11 07:21] osunac commented on #35
Also @noypit could you confirm whether you are running on CentOS 8? I believe you meant CentOS 7 but your confirmation would be welcome.

[2018-07-17 05:49] noypit commented on #35
I meant to CentOS 7:
[code]
When i try to train my model i get:
INFO:root:train(load-avg-model) range=[2018-06-17T05:35:16.276Z, 2018-07-17T05:35:16.276Z] train_size=0.670000 batch_size=64 epochs=100)
INFO:root:connecting to influxdb on XXX.XXX.XXX:8086, using database '*********'
ERROR:root:datasource[influx]: ('Connection aborted.', BadStatusLine("''",))

Tcpdump (in train time) from loudml serv

[2018-08-16 01:14] asvinours opened #37 "Incomplete documentation information"
Hi,

I have two main questions, tried to search everywhere in the documentation and I can't find the answers:
`offset | (duration) The time offset used when querying the data source`
I am having a really hard time understand what this mean. Could you provide more information?

`One or more match_all conditions can be added and will automatically change the queries to your data sources with the rig

[2018-08-16 13:02] regel commented on #36
Hi Rodrigo,

thanks a lot for this proposal.

If we make the following additions, will it match your requirements?

loudml train --tags tag1,tag2,....

1. add a --tags option (Or -T) to loudml train command in the CLI
2. then, use all possible key,pair values for this tag, to train a *single* model
3. apply this single model to live data, with extra options in the CLI for predict command to select

[2018-08-16 13:13] asvinours commented on #37
Hi,

I am using the DEB package:
loudml:
  Installed: 1.3.2
  Candidate: 1.3.2
  Version table:
 *** 1.3.2 500
        500 http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb stretch/main amd64 Packages

Thank you for the information about the offset, I understand a lot better now.

[2018-08-20 10:40] regel commented on #37
You're welcome.
Thank you for release information. Actually version 1.4.0 will be released in a couple days with several enhancements. We will try to include the fix in this version and keep you updated.

[2018-08-20 18:49] Dasberger opened #38 "Debian Repository - GPG Error"
Hello,
      The keys for the Debian repo in the documentation appear to be invalid. Please see the error code below.

Reading package lists... Done
W: GPG error: http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb stretch InRelease: The following signatures were invalid: AA8C857BF0D3D5A1B521000A2B30B150C0DCADA9
W: The repository 'http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb str

[2018-08-20 21:48] voiprodrigo commented on #36
Hi Sebastien,

Looks like a sound approach, and I like the Group By, but in a dynamic environment I don’t want to be concerned with setting explicit tag value filters. That is of course very useful for many cases, but depends on the objective. For example, nodes can come and go, so the values of the node tag will change over time. At the same time I would be interested in a separate prediction/for

[2018-08-21 12:02] osunac commented on #38
Thanks for the report. This is a known issue and we are working on resolving it.

As you can guess, the only workaround is to ignore the warning and install the packages regardless.

[2018-08-21 12:28] jorgelbg commented on #36
I think I have a similar use case as the one @voiprodrigo describes. I'm storing under the same measurement values with different tags, for instance: `job_id`, `locale`, `error_count` (value). In this case, training a model for the entire measurement is not ideal, because each `job_id` behaves independently of the rest and could introduce deviations.

Using the `tags` filters would mean the need t

[2018-08-22 10:53] jorgelbg opened #39 "Tag anomalies in the prediction_* measurement"
At the moment when the result prediction is stored, on InfluxDB we only have access to the `time` and the output features. I think that adding a tag for when one of this predicted data points is an anomaly can be useful for:

* Visualizing the anomalies in Grafana/Chronograf
* Using a third party alerting mechanism

[2018-08-22 12:40] regel commented on #39
Hi Jorge,

You've read our minds!

We will tag the output predictions with is_anomaly=True|False. This change will be included in 1.4.0, due in just a couple days. A brief tutorial and example for live anomaly detection will be available on Youtube too. You can subscribe to our Twitter channel @loud_ml to receive the announcement ;)

Best,
Sébastien

[2018-08-22 13:06] regel commented on #36
Sounds like we need to have:
 - A wildcard * capability
 - and also allow to overwrite the default prediction_{{model_name}} measurement with something else, defined by the user

The training part is more complex. Training a single model for distinct series/with distinct tags assumes they more or less all have a similar pattern. Do you already tag series according to "expected pattern type" or thi

[2018-08-22 13:30] jorgelbg commented on #36
Allowing to override the measurement would be great, even more, if it's possible to interpolate the values of the tags in the title (or concatenated at the end). Like: `prediction_avg_error_count_{{job_id}}_{{locale}}` (for my case).

Considering that one single model assumes a similar pattern/behaviour, perhaps allowing to generate N dynamic models (generated by the combination of tags) could be

[2018-08-23 14:05] jorgelbg opened #40 "Invalid field error when a dot is used in the measurement key of the model"
With the current configuration in the feature

[code]

I get the following error when creating the model:

[code]

Granted this is coming from a legacy application that is using the graphite naming format 😄 but It should not be a problem for LoudML.

[2018-08-28 08:43] regel commented on #38
Hi,
thanks Christophe, looks like we have a fix for this?

[2018-08-28 09:01] regel commented on #35
Hi Noy,

the first tcpdump output shows the code is trying to use Basic Auth and clearly that is not what you expect here.
Authorization:.Basic

Any reason to use quotes around the "true" value, what happens if you remove them?

To clarify Loud ML 1.3.2 limitations, we have to update the documentation:
 - server authentication will use the ca_certs option and verify_ssl to verify the server's cert

[2018-08-28 09:05] regel commented on #26
The feature data-model is augmented in 1.4 with 'default': 'previous', implemented in 1.4.0 release.

[2018-08-28 09:05] #26 closed

[2018-08-28 09:07] regel commented on #18
Hi Mathias,

thank you for your request. We've had a busy summer and warp10 is now supported in release 1.4.0. Please stay tuned, next release will be available in the coming days and will be announced on Twitter+newsletter+new web site.

Best,

Sébastien

[2018-08-28 09:08] #18 closed

[2018-08-28 09:08] regel commented on #17
Bug fixed in release 1.4.0

[2018-08-28 09:08] #17 closed

[2018-08-28 09:11] hbs commented on #18
Awesome!

[2018-08-28 09:12] regel commented on #16
Old one, bug fixed and released in 1.2.4

[2018-08-28 09:12] #16 closed

[2018-08-28 09:15] regel commented on #13
Workaround documented in previous release. Also, a specific note for this has been added in the documentation. I believe file permissions are ok now with Debian and EL7 release.

[2018-08-28 09:15] #13 closed

[2018-08-28 09:15] regel commented on #7
Solved in 1.2, closing.

[2018-08-28 09:15] #7 closed

[2018-08-28 09:25] regel commented on #39
Tagging predictions implemented in release 1.4.0, will be released in the next couple days.

[2018-08-28 09:31] regel commented on #36
It's a complex one. Trying to list what will be needed:
- [ ]  Having a custom measurement name, rather than the default prediction_* name
- [ ]  Using template {} values in this measurement name, eg {model}, and so on.
- [x] Tagging the output measurement with tags. We have, at least, a partial solution implemented in 1.4.0
- [ ] Model templating, with wildcard capabilities
- [ ] Training, and th

[2018-08-28 11:40] osunac commented on #38
Yes, this will be fixed in the upcoming release. I'll close the ticket then.

[2018-08-28 12:15] Dasberger commented on #38
Thanks, do you have an ETA on the upcoming release?

Thanks,
Corey Eichelberger

On Tue, Aug 28, 2018 at 6:40 AM Christophe Osuna <notifications@github.com>
wrote:

--
Thanks,
Corey Eichelberger

[2018-08-29 05:36] osunac commented on #38
Version 1.4.0 is planned for next week and it is currently on track.

[2018-08-29 10:18] #29 closed, assigned to vnyb

[2018-09-05 05:51] osunac commented on #38
Packages signature have been updated in 1.4.0 and should not trigger Apt errors anymore.

[2018-09-05 05:51] #38 closed

[2018-09-05 09:19] regel commented on #37
Fixed in 1.4.0, release notes: http://loudml.io/guide/en/loudml/reference/current/release-notes-1.4.0.html

Fabrice is it ok in your environment after the upgrade to 1.4.0?

[2018-09-05 09:20] regel commented on #39
Fixed in 1.4.0, release notes: http://loudml.io/guide/en/loudml/reference/current/release-notes-1.4.0.html

Thanks for your support!

[2018-09-05 09:20] #39 closed

[2018-09-05 09:32] regel commented on #35
Possible step we missed in the documentation:
 - Step 3: Create user to match certificate CN (Common Name)
https://docs.influxdata.com/influxdb/v1.6/administration/https_setup/

Also, we must review the influxdb client code and how the options are handled.

[2018-09-06 13:23] mrb1090 opened #41 "Bad magic number on startup"
Just installed loudml per documentation on Ubuntu 16.04, Python 3.5.2.
Getting the following error when trying to start the daemon under system:

Sep 06 13:18:46 INFLX loudmld[1526]: ImportError: bad magic number in 'loudml.server': b'\x17\r\r\n'
Sep 06 13:18:46 INFLX systemd[1]: loudmld.service: Main process exited, code=exited, status=1/FAILURE
Sep 06 13:18:46 INFLX systemd[1]: loudmld.service:

[2018-09-06 14:10] osunac commented on #41
Thanks for using LoudML.

The deb package is designed to run on Debian 9 (Stretch) 64 bits. We will try to expand the list of supported targets in the future, but currently Debian 9 is mandatory for that package format.

Is it acceptable for you to use another operating system?

[2018-09-20 15:06] jorgelbg opened #42 "LoudML 1.4 doesn't use the measurement field when used with ES"
In our case, we've several ES indexes with a `_type` set to `logs`.

Setting the measurement to `logs` in the model definition, it doesn't have any impact on the request sent to ES:

In the model definition:

[code]

Inspecting the traffic with tcpdump on port 9200:

[code]

Although multiple document types in the same index are deprecated it is still possible to have only one that is not `doc`.

[2018-09-20 15:21] jorgelbg commented on #42
Using LoudML 1.3, something similar happens, but it works because it doesn't default to `doc`:

[code]

[2018-09-20 16:51] regel commented on #42
Hi Jorge,

Thanks a lot for sharing the issue. If our understanding is correct, ES 6.x will only allow one doc_type value with a given index. Can we define a 'doc_type' parameter at the top level in config.yml data source definition? It will avoid repetitions, do you think it will work for you?

We're code complete with 1.4.1 tomorrow. Let us know your comments, we will try to make a quick fix if

[2018-09-20 17:11] jorgelbg commented on #42
@regel I think that the best option would be, as you say, specifying a `doc_type` parameter on the `config.yml`. There is already a 1 index = 1 doc_type, so this makes perfect sense.

Thanks for the quick reply!

[2018-09-23 00:12] jgentes opened #43 "Example docker-compose file?"
Hey guys, interested in learning more about LoudML. [The documentation](http://loudml.io/guide/en/loudml/reference/current/docker.html) talks about a sample docker-compose file in a docker-compose directory in the LoudML repo, but I can't seem to find it. Any pointers?

[2018-09-23 14:07] jgentes commented on #43
I think I found it: https://github.com/lmangani/loudml-docker/blob/master/docker-compose.yml

[2018-09-25 01:57] osunac commented on #43
Actually it looks like our sample Dockerfile is not online. The one that you found does work, but is slightly different from the one we intended to suggest as a starting point.

[2018-09-28 11:55] regel commented on #41
@mrb1090 Hi Mike, we're updating today the documentation, with a new release (1.4.2). It is now compatible with Debian 9, and Ubuntu 18.04.

[2018-09-28 11:56] regel commented on #37
@asvinours : documentation updated, and a new release (1.4.2) is now available. We've made small changes to the ES API, in order to support the doc_type in config.yml - since new ES only allows 1 doc_type per index. It may impact your current settings. The 1.4.2 release notes is available, let us know your comment.

[2018-09-28 11:58] regel commented on #40
@jorgelbg : Very good point. 1.4.2 was released today. Dots are now allowed in fields, but not measurement names :( We will have to make a 1.4.3 in order to allow the dots in measurements names. Work in progress.

[2018-09-28 12:10] daradermody opened #44 "Ability to add/delete datasources using REST"
Currently, datasources can only be added using the config file before startup. This is a request for the ability to add new datasources via REST without having to restart the application.

My use case is when creating new indices in Elasticsearch, I don't want to have to go the server hosting LoudML to add it.

[2018-09-28 12:18] daradermody opened #45 "detect_anomalies and save_prediction not documented"
`detect_anomalies` and `save_prediction` parameters are not described in the [activate API documentation](http://loudml.io/guide/en/loudml/reference/1.4/_activate_model_api.html). It took me a while to figure out that these are required for what I though was default behaviour (because it says "the predicted values will automatically be written to your data source").

`detect_anomalies` is only ref

[2018-09-28 13:57] regel commented on #45
You may need to clear your navigator's cache, the documentation is now up to date with a couple more fixes. Thanks again for reporting this.

[2018-09-28 13:57] #45 closed

[2018-09-28 13:59] regel commented on #42
@jorgelbg : 1.4.2 has just been released today, and the documentation updated. You can set the doc_type in your config.yml file. Waiting for your confirmation to close this issue.

[2018-09-28 13:59] regel commented on #28
1.5.0 milestone

[2018-09-28 14:00] regel commented on #27
1.5.0 milestone - Using TensorFlow serving

[2018-09-28 14:03] regel commented on #25
Title changed. In fact it's the loss value that would be good to have when using loudml predict CLI, in order to be able to compare it with the training loss value.

[2018-10-01 16:19] daradermody opened #46 "Predictive model applied to multiple series"
Is it (or will it be) possible to create and train a model for a single time series, and apply the prediction and anomaly detection to other time series?

For example, if I have create a model that studied the traffic from a single IP address over the course of a day, can I apply that same model to 1000 other IP addresses without having to individually create and train a new model for each (which

[2018-10-01 16:22] daradermody opened #47 "No documentation for fingerprint model type"
In the [Create Model](http://loudml.io/guide/en/loudml/reference/1.4/cli-create-model.html) section of the documentation, it mentions that the model type can be `timeseries` or `fingerprint`. I can't see anywhere where it describes what the `fingerprint` type is. Is this the same as `population` [in X-pack](https://www.elastic.co/guide/en/x-pack/current/ml-configuring-pop.html)?.

[2018-10-02 01:12] jgentes commented on #43
Thanks, would be great to see your version. The other one has a dependency on elasticsearch that I didn't notice before.

[2018-10-02 08:32] regel commented on #44
@daradermody, Hi Dara, I guess it would be add and delete operations, right? We will probably need JWT tokens on top to authenticate the request. What do you think?

[2018-10-02 08:36] regel commented on #46
@daradermody

Hi Dara, it's a good catch thanks! 2 things in your comment:

- [ ] match_all bug, with Elasticsearch. You're right, the query should only apply to relevant feature where match_all is declared. We need to fix this.
- [ ] Reusing a model with other series: duplicate #36

[2018-10-02 08:54] daradermody commented on #44
Hey @regel, yes, this would only consist of add and delete operations (update would be nice, but isn't particularly necessary).

If you were to add authentication, I'd think it would then have to be applied to all interfaces (especially `_train` and `_start` as these would send data to Elasitcsearch). For our use case, though, we wouldn't use authentication on Loud ML because queries from our UI w

[2018-10-02 09:00] daradermody commented on #46
Hey @regel, thanks for the clarification! #36 seems to be what I'm looking for, so I'll keep an eye on that. Do you want to keep this ticket open to track the `match_all` bug, or create a separate ticket?

[2018-10-02 14:15] vnyb commented on #44
Hi @daradermody,

This new feature would indeed bring more flexibility, that's why it will be added to the next LoudML version.

Meanwhile, you can use an index pattern (e.g. `index-*`) instead of an index name. In this way, you will be able to query several indexes. However, this can lead to more costly requests because Elasticsearch will search all the indexes matching the pattern. But, dependin

[2018-10-02 14:19] daradermody commented on #44
@vnyb Great, thanks for the feedback! :smiley:

[2018-10-02 15:01] jgentes opened #48 "Run on Arm64?"
I see there are AMD64 builds for Ubuntu. Do you have a build for ARM (Raspberry Pi)?

[2018-10-03 08:03] osunac commented on #48
Currently there is no ARM build. However, as far as I know this is technically possible, so I want to keep the door open to a Raspbian armhf release. When we can allocate resources to that port, I will make sure to keep you informed.

[2018-10-03 08:59] regel commented on #44
- [ ] Add and delete data sources using new REST endpoints
- [ ] Define optional JWT tokens to apply to all endpoints in the API

[2018-10-06 14:39] ankur-gupta619 commented on #41
Hi,
I am getting the below error while starting the loudmld service:

[code]

I am using Ubuntu 16.04 and Python 3.5.2.
I also tried the docker setup but that was also hanging while starting the container.

Can you please help me resolving this issue?

[2018-10-07 07:04] osunac commented on #41
Hi. The packages are only for Ubuntu 18.04. Currently we do not have packages for Ubuntu 16.04.

The Docker container should work. The instructions on how to start the container are available at [https://hub.docker.com/r/loudml/community/]. Also, I have experienced issues when SELinux is enabled. If `getenforce` tells you SELinux is enabled, try to set it to permissive mode with `setenforce permis

[2018-10-19 09:06] daradermody opened #51 "Periodically delete old jobs"
I left Loud ML running for about a week, and when I called the `/jobs` API, it came back with more than 2826 jobs, most of type `prediction` (that's all the JSON that could fit in my terminal scrollback buffer). There were probably a few thousand more because the earliest job I could see was from about day and a half ago. I think there should be some cleanup done for old jobs, maybe something conf

[2018-10-19 09:15] daradermody opened #52 "/jobs API returns non-JSON body"
When a model is active (i.e. prediction is periodically running) and Elasticsearch has no values for that metric for a period, the prediction jobs give results that include `NaN`, which is not valid in a JSON response. See below for an example `/jobs` response:

<details>
<summary>Expand</summary>
<p>

[code]
</p>
</details>

[2018-10-19 10:15] daradermody opened #53 "Internal server error when activating a model in the middle of training"
The following error is produced when a model that is in the middle of training and I attempt to activate it:
[code]

I know this is an invalid use case, but it should give back a 4xx error.

[2018-10-19 11:49] daradermody opened #54 "Reference the name of the model in job info"
Job information returned by the `/jobs` API do not mention the model they are associated with. One has to go through all the models and match the ID with the `model.training.job_id` attribute, but even then, this only works for training jobs, and can't be done if you've deleted the model, but still have the jobs.

[2018-10-19 11:52] daradermody opened #55 "Give timestamp in job information"
Jobs returned by the `/jobs` API don't have any time information associated with them. I don't know if start time or end time would be better, but I'd like something to be able to order them or know which ones are important (e.g. have been run recently).

Duration might be good to see too, as it would give me good metrics for performance based on the model parameters I used.

[2018-10-19 12:56] daradermody opened #56 "API for updating existing models not documented"
The API that allows for updating existing models works, but doesn't seem to be documented (`POST localhost:8077/models/my-model`)

[2018-10-19 13:15] daradermody opened #57 "Question: anomaly not directly related to thresholds"
I'm seeing the following results from the prediction/anomaly calculations:
<details><summary>Expand</summary>
<p>

[code]
</p>
</details>

The observed values are below the lower thresholds, but it is not considered an anomaly. Is there something I'm missing? What is the minimum value of `score` that categorises it as an anomaly?

[2018-10-19 15:03] regel commented on #56
Hi @daradermody, you're right. In the TICK-L we solved this scenario with a "locked" panel. Certain settings (eg the features list, bucket interval, span, forecast) cannot be changed once the model is trained, due to ML topology constraint. We still have to document it, and throw an exception if an unsupported change is requested to the API.

You can use this POST call for example to change the in

[2018-10-19 15:04] daradermody opened #58 "Specify output index during model creation"
Feature request: Add ability to specify the output index (where predictions are saved) during model creation, instead of just using the model name.

[2018-10-20 04:40] regel commented on #43
@jgentes New Docker compose file has been published in the repo. This spins up the full TICK-L stack, please let us know your feedback:

https://github.com/regel/loudml/tree/master/docker

[2018-10-20 04:49] regel commented on #53
fixed in 1.4.3, will be released shortly

[2018-10-22 07:38] #41 closed

[2018-10-22 09:23] daradermody opened #59 "Question: Model evolution"
I was wondering if the model created and trained evolves if the pattern of data slowly changes? Or is the model only based off of the last training session. If it evolves, is there a specific behaviour, like does it train every time it does a prediction, or do a bigger training session every larger period, etc.?

[2018-10-22 12:09] daradermody opened #60 "Duplicate anomalies pushed to Elasticsearch"
I am seeing duplicate anomaly entries being written to Elasticsearch:
[code]

I expected to have only one entry per anomaly detected. The logs from the Loud ML instance are a bit confusing as it seems to be checking a much wider range than the bucket interval:
[code]

The model is as follows:
[code]

[2018-10-23 05:37] Milan-Faizal opened #61 "LoudML crash"
Hi, I'm using docker-compose to run TICK stack and loudml. Every other service except loudml is starting successfully. The logs are given below:

loudml_1      | Traceback (most recent call last):
loudml_1      |   File "/usr/bin/loudmld", line 11, in <module>
loudml_1      |   load_entry_point('loudml==1.4', 'console_scripts', 'loudmld')()
loudml_1      |   File "/usr/lib/python3.5/dist-packages/

[2018-10-23 08:33] #61 closed

[2018-10-23 08:34] Milan-Faizal commented on #61
`services:
  loudml:
    image: loudml/community
    volumes:
      - ./etc/loudml/config.yml:/etc/loudml/config.yml:ro
      - ./var/loudml:/var/lib/loudml
    ports:
      - "8077:8077"
    depends_on:
      - influxdb`

I replaced "config.yml" with "loudml.yml" and its working fine

[2018-10-23 10:07] daradermody opened #62 "Model name requirements not clear"
If I try to create a model with a name with spaces, it gives me the following error:
[code]
I can understand why spaces wouldn't be allowed, but I'd like some clarification on what else is invalid (e..g what regex is applied to the name?)

[2018-10-25 06:46] regel commented on #60
Hi @daradermody, some highlights:

- Your interval is 10s, so loudmld will wake-up every 10s to run inference and write the output to the DB
- It seems that there is 1 anomaly in progress. In this situation the range of data points will be larger than 10s since live data is unreliable, a larger time window is used automatically.

Do you notice these duplicates only during anomalies, or in other si

[2018-10-25 06:48] regel commented on #62
Hi @daradermody, ok thanks. @vnyb can you please comment the current format accepted. We definitely have to update the documentation.

[2018-10-25 07:07] regel commented on #59
Hi @daradermody, I have published 1.5 roadmap on [slideshare](https://www.slideshare.net/SebastienLeger1/loud-ml-15-technology-roadmap).

You will find incremental retraining, and how 1.4 compares to the next 1.5 on this question.

[2018-10-25 07:12] regel commented on #58
Hi @daradermody, we're about to roll out 1.4.3 in the next days or so. We've made progress to include a "datasink" parameter, so in practice this allows to output and write data points to a separate data source that we call a sink.

@vnyb can we document a short example of datasink usage with Elasticsearch? @daradermody can you let us know your comments on this before 1.4.3 is out?

[2018-10-25 07:34] regel commented on #57
Hi @daradermody, what are your min_threshold and max_threshold settings?

Tip: we've introduced in 1.4 the ability to set min_threshold=0 and max_threshold=0 to let loudmld calculate these values.

The hysteresis goes like this during the anomaly detection:
 - New anomaly starts if score >= max_threshold
 - Anomaly ends if the score < min_threshold

1.4.2 in more detail:
 - Scores are calculated e

[2018-10-25 07:36] regel commented on #51
Hi @daradermody, good point, thanks. @vnyb what setting could be added to `config.yml` file?

[2018-10-25 07:38] #43 closed

[2018-10-25 07:38] #42 closed

[2018-10-25 07:39] #37 closed

[2018-10-25 07:59] vnyb commented on #62
Hi @daradermody, the regexp is `^[a-zA-Z0-9-_@]+$`. Documentation will be updated and we'll add this information in the error message.

[2018-10-25 08:00] vnyb commented on #55
Indeed. `NaN` values will be replaced with `null`

[2018-10-25 08:01] vnyb commented on #52
Indeed. `NaN` values will be replaced with `null`

[2018-10-25 08:07] vnyb commented on #55
We'll add following fields in job status:

`"start_time": "YYYY-MM-DDTHH:mm:ss.sss"`

When job is over:
`"end_time": "YYYY-MM-DDTHH:mm:ss.sss"`
`"duration": seconds`

When job running:

`"remaining_time": seconds`
(estimation)

[2018-10-25 08:55] daradermody commented on #58
By "datasink", do you mean being able to specify separate output indices for each model, or choose a single output index for all models (maybe delimited by a term field that mentions the model name)? We would prefer the latter as it would be easier to manage. The former can work for us as well, though.

[2018-10-25 09:01] daradermody commented on #59
Thanks for the slideshare. Keeps me looking forward to the new features :smile:

[2018-10-25 12:01] daradermody commented on #60
There seem to be periodic duplicates independent of any anomalies in progress. See below for a graph showing the aggregation of source signal, predictions (expected, upper and lower), and anomalies (in red), and the counts of predictions pushed to Elasticsearch by Loud ML. It seems like duplicates appear every 10 seconds.

![image](https://user-images.githubusercontent.com/7104356/47498728-048df78

[2018-10-25 12:28] daradermody commented on #57
For the example I gave, I didn't set `min_threshold` and `max_threshold`, but they seem to default to 0. I guess I incorrectly assumed that the `upper` and `lower` values were thresholds rather than just the deviation of the source signal. Are they calculated as one standard deviation from the predicted?

[2018-10-25 12:44] daradermody opened #63 "Question: Clarification on max_evals"
I understand that `max_evals` is the "number of iterations to produce a model with optimal accuracy", but I'm not sure how this value should be chosen. I would guess that the higher this value, the longer the model takes to train, but does accuracy remain consistent with the same `max_eval` number between use cases (differing bucket size, signal period, signal noise, etc.)? If it does, how would y

[2018-10-25 16:00] regel commented on #63
Hi @daradermody, we're trying to make the default values work in most situations. If unsure, one option is to omit this value in the standard settings, and have it somewhere in expert settings. `max_evals` controls the hyper-parameters search ie finding the ANN topology that best fits the training data-set.

[2018-10-26 09:05] daradermody commented on #63
I'm not sure what you mean by standard vs expert settings. Could you clarify?

[2018-10-26 13:21] daradermody opened #64 "Request: Jobs information containing training period used"
Can model training jobs also contain the training period being used? It is so that after I have successfully training a model, I can't find any indication of what period I used, unless I stored it myself.

[2018-10-27 13:10] Milan-Faizal opened #65 "LoudML not detecting datasources"
Hai, I'm running the TICK-L stack using docker-compose and everything is running without any errors. However loudML add-on is showing that "Unable to find loudML datasource for selected database. Check configuration".
![screenshot from 2018-10-27 16-24-37](https://user-images.githubusercontent.com/22698793/47604382-b411c800-da16-11e8-82ef-d4076279e813.png)

![screenshot from 2018-10-27 16-24-56](h

[2018-10-30 10:34] vnyb commented on #65
Hi @Milan-Faizal

What is the error code replied by Loud ML?
Could you please give the result of the command below?

[code]

Do you see any error messages in the logs sending this request?

[code]

[2018-10-30 13:06] daradermody opened #66 "Output index with date suffix"
Can Loud ML be configured to use date suffixes in the output index? The use case is where I have many models created pushing data very frequently, I would like to avoid having a very large index.

[2018-10-30 13:11] daradermody opened #67 "Actual value in prediction output"
The output of a prediction job contains the real value found
[code]
But when pushed to Elasticsearch, it is missing:
[code]

Because it's difficult to be able to replicate the query used by Loud ML and determine the real value used in the anomaly detection, I was wondering if the actual value could be included in the prediction result pushed to Elasticsearch?

[2018-10-31 16:51] regel commented on #60
Hi @daradermody, ok bug reproduced.

[2018-10-31 16:57] regel commented on #66
Yes, output indexes (named `datasinks` in 1.4.3) will have this option. You only have to add * in your config.yml, eg:
[code]

Writing predictions to this `datasink` will insert the date index in the output index, so eg: bar-2018.10.31.

The same rule applies to `datasources` declarations. If you include a *, then queries will fetch data from this index pattern.

Does it work for you?

[2018-10-31 17:00] regel commented on #66
Rollover indexes, with an alias, can be an option too, if you need to limit the size / item count in the indexes: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-rollover-index.html

[2018-10-31 17:13] daradermody commented on #66
That's perfect. Thanks, @regel.

[2018-10-31 17:16] regel commented on #58
Hi @daradermody, both, changes that we plan to introduce in 1.4.3:
 - You can write "default_datasink": "_name_" in your JSON file when creating the model. _name_ is declared in your config.yml
 - All points written to output indices include a keyword term, named "model" to include the model name, if you store everything in one global index it's still possible to find the data quickly

A query on

[2018-10-31 17:21] regel commented on #63
`max_evals` is difficult to explain in the GUI for first time users, it's one of the FAQ. The ability to choose 'auto' can be an option if the user is unsure about the value to input in this setting.

[2018-10-31 17:42] daradermody commented on #58
That'll work like a charm :+1:

[2018-10-31 18:03] regel commented on #51
How about a new `maxjobs` param in config.yml:

[code]

[2018-11-01 16:41] daradermody opened #68 "Bucket interval doesn't support 'M' or 'y' date math units"
I expected that all [Elasticsearch date math units](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html#date-math) would be supported, but using either `M` or `y` (e.g. `"bucket_interval": "1M"`) results in an error:
[code]

[2018-11-05 15:03] jorgelbg commented on #42
Hi @regel sorry for the super-delayed response 😅.
I've tried the new version against our production ES cluster and its working perfectly. I'm able to train the model, and store the predictions back to ES.

On the documentation would be helpful to specify that the predictions on ES are going to be stored in an index matching the name of the model.
On InfluxDB is a bit different, the name follows th

[2018-11-07 02:33] camAtGitHub opened #69 "Your email is broken"
Hi LoudML.
Firstly I tried to email contact@loudml.com AND contact@loudml.io (as per your website) and got the following bounce back:

We're writing to let you know that the group you tried to contact (contact) may not exist, or you may not have permission to post messages to the group. A few more details on why you weren't able to post:

 * You might have spelled or formatted the group name incor

[2018-11-07 02:34] camAtGitHub opened #70 "Elasticsearch refine dataset with lucene queries"
I have a few questions regarding LoudML and Elasticsearch.

1). With Loud is it possible to provide some sort of Elasticsearch-Lucene query to reduce the data set.
Example I have all my SSH Logins/Failures in one index, but I really only want to create a model based on a few servers – Lucene query like: “host:server OR host:server2 OR host:server3” – would provide the correct data.

2). Is there i

[2018-11-07 06:30] Milan-Faizal commented on #65
I'm closing this as the issue was a syntax error in "confg.yml"

[2018-11-07 06:30] #65 closed

[2018-11-07 11:10] daradermody opened #72 "Error when training range is too small"
When a small enough range is used, the following error occurs:
[code]

I get the above when I create a model with less than around 100 buckets.

Should there be a more appropriate error (like "not enough data") and is there any way to determine how much data is needed by Loud ML for some metric (maybe it's a specific minimum number of agg buckets)?

[2018-11-08 10:50] daradermody opened #73 "Specify minor version in information endpoint"
When `/` is queried, the following is returned:
[code]
Can the minor version be included (in this case, `"version": "1.4.3"`)?

[2018-11-08 11:21] daradermody commented on #52
Can confirm fixed in 1.4.3.

[2018-11-08 11:21] daradermody commented on #53
Can confirm fixed in 1.4.3.

[2018-11-08 12:07] daradermody opened #74 "Newly created indices use long for time field"
The type of the time field is long instead of date. The following is the mapping for the datasink:
[code]
As a result, there are issues with some date histogram visualisations. Can the index mappings be updated to ensure the time field is of type `date` before indexing results?

[2018-11-08 17:17] wendyhollands commented on #69
Thanks for letting us know. The issue has now been resolved and you're welcome to write to us at contact@loudml.io now that we'll receive your message.

[2018-11-09 03:18] camAtGitHub commented on #69
Presuming its fixed ill close this

[2018-11-09 03:18] #69 closed

[2018-11-09 12:26] daradermody opened #75 "Question: Are models upgraded?"
Does Loud ML do any upgrade procedure on models? For example, with the release of 1.4.3, the following format is deprecated:
[code]
Are existing models that are in `/var/lib/loudml` automatically transformed to the newer format, or will they have to be deleted and recreated again?

[2018-11-09 15:46] daradermody opened #76 "Single timestamp for datasink"
Is it possible that the prediction results outputted from each model to a single datasink could all use the same time field? Currently, it uses the time field name of each individual source, which means that I can not easily do date histograms with term aggregations on the anomalies from different models.

[2018-11-12 12:01] daradermody commented on #73
Although Ubuntu (above) and Docker do not provide minor version, CentOS 7 does:
[code]
@regel, can you clarify why this might be the case?

[2018-11-15 11:55] #40 closed

[2018-11-16 20:40] regel commented on #62
Documentation updated

[2018-11-16 20:40] #62 closed

[2018-11-16 20:41] regel commented on #66
Hi @daradermody, do you confirm we can close this one?

[2018-11-16 20:45] regel commented on #58
Hi @daradermody , reading from the other entries 1.4.3 is close to your expectations, and https://github.com/regel/loudml/issues/74 and https://github.com/regel/loudml/issues/76 can be tracked separately.

Am I missing something, or can we close this one?

[2018-11-16 20:46] regel commented on #74
Hi @daradermody,
Agree. timestamp mapping type must be updated, and BTW "model" mapping type should be a keyword.

[2018-11-16 20:47] regel commented on #76
Hi @daradermody , can you please dump 1 example to make sure we have the right understanding?

[2018-11-16 20:56] daradermody commented on #66
Yes, you can close. 1.4.3 providing this, thanks.

[2018-11-16 20:57] daradermody commented on #58
Yes, you can close as 1.4.3 is providing me what I wanted, thanks.

[2018-11-18 17:59] #58 closed

[2018-11-19 17:05] regel commented on #75
The old format can still be used while creating new models, although internally they will be converted to the new format (list) when serialised to JSON.

[2018-11-19 17:08] regel commented on #73
+cc Christophe

Different builds, packaging scripts, using variables at build time to insert the version number. It seems only Docker packages have this issue. Have to check how we're building them.

[2018-11-19 17:09] daradermody commented on #75
Speaking more generally, is this a long term plan, that API changes will support legacy indefinitely (i.e. of the entire API, not just model creation)? Since you've marked the format as deprecated, it sounded like it will be removed at some point in the future.

[2018-11-19 17:10] regel commented on #72
Hi @daradermody, you read my mind. Agreed, "not enough data" message would provide a better UX in this scenario. Let's target 1.4.4 to fix this.

[2018-11-19 17:14] daradermody commented on #76
Here is sample output from two models that are using the same datasink:
[code]

The datasource for one model uses `@timestamp` and the other uses `founded_date` as time fields. As a result, the timestamps for each are different. In Kibana and Siren's platform, you choose one date field as the primary time field, which is used in dashboards and visualisations for that index pattern:

![image](https

[2018-11-19 17:18] regel commented on #70
@camAtGitHub, Hi, many thanks for your feedback!

No Grafana integration yet, I will reply in private.

On point 1, we've implemented "match_all" that translates to narrow down the data-set with x AND y AND z Lucene queries. Not yet the equivalent OR conditions. It's difficult to support the extended Lucene query format. Do you think basic or/and should cover most needs?

[2018-11-19 17:23] regel commented on #55
@daradermody do you confirm this works for you if we target 1.4.4?

[2018-11-19 17:32] regel commented on #76
Okay thanks, got it. So, do we keep the original date field name (..any use-cases for that?) or do we use a standard date field name and apply it to all sinks in order to keep consistency in the data model (and mapping) written to the TSDB?

It's easier when the TSDB does not have the luxury to change the date field names :)

[2018-11-19 17:58] daradermody commented on #76
The latter would solve the primary time field issue. I can't think of any use case for keeping the original time field in the datasink.

[2018-11-20 01:41] camAtGitHub commented on #70
@regel
Re: match_all - For me the LoudML documentation lacks how to use 'match_all' with examples, unfortunately the Elasticseach documentation is of no-use unless your Elasticsearch programmer IMO.

An elasticsearch of:
# GET _search
[code]
Provides the dataset I want, but I have no-idea how to apply this in the 'match_all' context with loudML.

Cheers

[2018-11-20 10:08] daradermody opened #77 "Consider using a default of 4 shards for datasink indexes"
When creating datasink indexes, Loud ML doesn't specify the shards, so Elasticsearch uses the default 5 shards. Would it be possible to default to 4 so that, if needed, it is easier to pack them to 2 or 1 shard without reindexing (using the [Shrink Index API](https://www.elastic.co/guide/en/elasticsearch/reference/6.x/indices-shrink-index.html#indices-shrink-index))?

[2018-11-20 11:25] patelnikhilg opened #78 "Connection refus with InfluxDB."
Telegraf is not able to connect with InfluxDB. below error is getting:

telegraf_1_d30ed5f852c7 | 2018-11-19T13:16:20Z E! Error writing to output [influxdb]: could not write any address
telegraf_1_d30ed5f852c7 | 2018-11-19T13:16:30Z E! [outputs.influxdb] when writing to [http://localhost:8086]: Post http://localhost:8086/write?db=telegraf: dial tcp 127.0.0.1:8086: connect: connection refused

Kapa

[2018-11-20 12:01] jorgelbg commented on #40
👍Thanks, @regel I've tested this today again, and the model is created successfully.

[2018-11-20 14:03] jorgelbg commented on #70
@camAtGitHub The syntax of the `match_all` section is the same for both data sources. Underneath it would be translated into a `WHERE` tag selector on InfluxDB and on an equivalent form the ES. `tag` would be like the field name on ES.

[code]
If you want to keep this complexity hidden from the LoudML config, you can setup a filtered index alias (https://www.elastic.co/guide/en/elasticsearch/refer

[2018-11-20 22:32] camAtGitHub commented on #70
@jorgelbg unfortunately that syntax just doesn't work, loudML (as reported elsewhere) just reports:
[code]
Although there 100% is data...

[2018-11-21 10:20] osunac commented on #73
The Docker image is built from the Debian packages.

We should be able to fix this in 1.4.4.

[2018-11-21 10:38] osunac commented on #78
Hi.

Are you using Docker Compose with our [Dockerfile](https://github.com/regel/loudml/tree/master/docker)? The URLs in that file should be left untouched because they are designed to point to the containers spawned by Docker Compose.

If you still have issues, could you check that:
1. SELinux is disabled (see FAQ);
2. you have a recent version of Docker and Docker Compose?

[2018-11-21 10:40] jorgelbg commented on #70
@camAtGitHub which version of loudml are you using? Previously I had something similar but was related to the `measurement` setting in the model being ignored (which translates to the document type on ES). You should also check the document type (`_type` field on ES/Kibana).

I've been experimenting using the following model with the latest version 1.4.3 and it works.

[code]

[2018-11-21 11:06] camAtGitHub commented on #70
@jorgelbg - Just tried with 1.4.3  and nothing.
Interesting the LoudML docs state:

https://loudml.io/guide/en/loudml/reference/current/timeseries-dsl.html

[2018-11-21 11:14] jorgelbg commented on #70
@camAtGitHub Yes, that is the new behavior. Before I expected the `measurement` field to translate to the `doc_type`, which it didn't. You can see issue #42 for more info.

It's strange that it doesn't work. You could probably use tcpdump/wireshark to sniff the outgoing request and check what payload is being sent. If you have a custom document type on ES, then you need to set the `doc_type` in th

[2018-11-21 11:22] camAtGitHub commented on #70
@jorgelbg - doc type is 100% 'doc'
Elastic runs full SSL so wireshark is ... hard - I have to mitm the connection...

[2018-11-21 11:49] camAtGitHub commented on #70
I managed to get it working with:
[code]

Although it worked, I'm stuck on the next step - making it do anything useful....

[2018-11-21 12:30] vnyb commented on #67
Of course! It will be added to Loud ML 1.4.4. Thanks!

[2018-11-21 15:22] jorgelbg opened #79 "Exception thrown at the end of the forecast command"
While trying to use the forecast command in the terminal (inside the Docker container) I get the following exception:

[code]

Executed command:

[code]

LoudML version: `loudml/community:1.4.3`.

The `loudml predict` command succeeds without any issue.

[2018-11-22 12:12] patelnikhilg commented on #78
SELINUX=disabled
I have docker Compose version link : https://github.com/regel/loudml/tree/master/docker

[2018-11-26 14:09] sergibondarenko opened #80 "How to stop training?"
It is possible to start [trainings](https://loudml.io/guide/en/loudml/reference/current/_train_model_api.html). Is it possible to stop or pause the training in progress?

[2018-11-26 19:43] vnyb commented on #80
Hi,

You can cancel any job by sending a `DELETE` query on `/jobs/<job_id>` endpoint.

You can retrieve the ID of training job using `GET` on `/models/<model_name>`, then cancel the job using `DELETE` on `/jobs/<job_id>`:

Example:

`curl http://localhost:8077/models/my-model`

[code]
`curl -X DELETE http://localhost:8077/jobs/a333c42e-5bca-485f-afe4-3878d24a8cca`

[2018-11-27 20:51] regel commented on #79
Hi Jorge, it's hard to tell at first glance. It is possible to attach your model.json settings file and a small data-set so we can reproduce and patch this issue quickly?

It's a multivariate model, is it?

[2018-11-27 21:13] regel commented on #75
Hi Dara,

The ideal scenario is a seamless migration, and deprecated means we will drop the old format. I don't know when. We're trying to avoid breaking changes, as much as possible, but sometimes they are required and we want to document them in the release notes.

We're missing something in the data store, since previous settings.json files can still be written to disk using the old format and

[2018-11-28 10:20] brad-deam commented on #70
Seconded - support for Grafana would be awesome. 👍

[2018-11-28 13:42] daradermody commented on #75
Hey Sebastien, that clarifies it a bit more for me, thanks. When you do define the length of a deprecation period, it would be good to document that.

[2018-11-28 13:42] #75 closed

[2018-11-29 07:19] osunac commented on #78
I am unable to reproduce the issue, so I guess this is related to the environment.

The container names should be resolved to IP addresses, not to `localhost`. My guess is that Docker Compose is reusing resources from a previous run. Could you try to:
1. stop all Loud ML related containers (probably already the case)
2. remove all unused Docker resources with `docker system prune` (or at least `do

[2018-11-30 09:11] jorgelbg commented on #79
Hi @regel, yes it's a multivarate model. It has a couple of features. You can check the model.json [in this gist](https://gist.github.com/jorgelbg/c36c89b98f421e0870f27a0d5825bd21). Let me see if I can export some data for the sample dataset.

[2018-11-30 16:29] regel commented on #79
Nice model;) thanks for the extra info, it will help

[2018-11-30 16:34] regel commented on #80
@sergibondarenko

Hi Sergii, if your max_evals is equal to 100 it can be quite long. You can change this value if needed, it's not well documented though but you can use POST to overwrite a given model settings.

How many data points / time-window in your training data-set?

Is everything clear with regard to the DELETE API call?

[2018-12-03 09:03] sergibondarenko commented on #80
@regel yes, everything is clear, thank you.

[2018-12-03 09:03] #80 closed

[2018-12-11 01:54] turkertopal commented on #22
+1

[2018-12-25 02:01] bandeep2000 opened #84 "missing data: field 'usage_system', metric 'avg', error while training"
Getting this error while running command, could you please help.

Getting error:

INFO:root:missing data: field 'usage_system', metric 'avg', bucket: 2018-12-24T01:25:00Z

INFO:root:missing data: field 'usage_system', metric 'avg', bucket: 2018-12-24T01:30:00Z

INFO:root:missing data: field 'usage_system', metric 'avg', bucket: 2018-12-24T01:35:00Z

INFO:root:missing data: field 'usage_system', me

[2019-01-12 01:13] udaynaik commented on #84
I am also seeing this error - but instead of using command line, I am using LoudML Docker setup in the UI.  Pulled the latest and ran docker-compose up - same error.

[2019-01-28 21:13] sukotha opened #85 "forecast fails with no data found"
when we use forecast command like below, it errors out saying that no data is found for the time range.
loudml forecast --from "now" --to "now+1d" TEST_MODEL

ERROR:root:no data found for time range 2019-01-28T19:15:00.000Z-2019-01-29T20:10:00.000Z

[2019-01-29 17:23] regel commented on #85
A sliding window (span) is used to forecast. So, if the --from parameter is "now", then loudml is querying the data source to load the window with data points in range [now-span*bucket_interval, now[

This first window must not have any missing data point, else the forecast will not be able to produce an output.

Tips and workarounds:

- Use --from "now-1m" or small negative offset to ensure the f

[2019-01-29 17:32] regel commented on #84
I believe we need the complete log. Warnings say that some buckets are empty. They will automatically be filled with zeros as requested in the feature definition. However if all buckets are empty it is more likely that loudml is not finding the data in the TSDB. How is favorite_source defined in your config.yml?

Too many missing data points in the training date range will cause training to fail,

[2019-01-31 10:34] #63 closed

[2019-01-31 10:39] regel commented on #57
Will be more consistent in 1.5 release: min_threshold and max_threshold as well as lower_* upper_* will all use the 68–95–99.7 rule. It's easier to interpret.

We no longer use the reconstruction error (mse), but instead use the reconstruction probability metric.

[2019-02-12 09:37] #73 closed

[2019-02-15 08:43] ronansalmon commented on #84
I have the same issue using CLI or GUI (through chronograf).
Datasource is influxdb over here and we don't have any data in default retention policy "autogen".
We have multiple retention policies and it seams that loudml is always looking for data in autogen retention policy.
Is there a way of telling loudml what retention policies to use ?
Thanks,

[2019-02-16 06:26] #51 closed

[2019-02-16 06:26] #64 closed

[2019-02-16 06:26] #78 closed

[2019-02-25 07:51] regel commented on #74
fixed in 1.5.0

[2019-02-25 07:51] #74 closed

[2019-02-25 07:52] regel commented on #72
fixed in 1.5.0, a specific exception was added in the training code to raise a more informative message.

[2019-02-25 07:52] #72 closed

[2019-02-25 07:53] regel commented on #76
@daradermody this can be a good first issue to submit a PR. See elastic.py source code.

[2019-02-25 07:53] regel commented on #77
@daradermody a good first issue to submit a PR, see elastic.py source code.

[2019-02-25 07:55] regel commented on #79
Hi @jorgelbg, we rolled out significant changes into 1.5.0 which is now OSS. It's a significant departure from the previous version: no support for multivariate models at this time, and a new model type 'donut'.

[2019-02-25 07:57] regel commented on #84
@ronansalmon @udaynaik @bandeep2000 yes, 1.4 and 1.5 (new OSS release, breaking changes see the release notes) have this option and it's controlled in your config.yml file.

https://loudml.io/guide/en/loudml/reference/current/_setup_your_config_yml_file.html

[2019-02-25 07:58] regel commented on #85
@sukotha : closing this question. Please check out the 1.5 OSS release. Changes are documented in the release notes.

[2019-02-25 07:58] #85 closed

[2019-02-25 08:00] regel commented on #27
fixed in 1.5.0, all training operations create a checkpoint and it's possible to rollback to a previous checkpoint.

[2019-02-25 08:00] #27 closed

[2019-02-25 08:01] regel commented on #28
not implemented, 1.5 still using an internal Job runner for inference.

[2019-02-25 08:01] #28 closed

[2019-02-25 08:02] regel commented on #44
@daradermody feel free to contribute and submit a pull request, 1.5 is released in OSS.

[2019-02-25 08:04] regel commented on #46
the match_all logic in elastic.py will have to be changed to solve this issue, and we need a new unit test into test_elastic.py for better test coverage in this scenario.

[2019-02-25 08:11] regel commented on #46
@daradermody feel free to submit a pull request

[2019-02-25 08:17] regel commented on #47
The fingerprint model type was removed in 1.5, we will replace it with a better implementation in a future release.

[2019-02-25 08:17] #47 closed

[2019-02-25 08:17] regel commented on #54
fixed in 1.5.0

[2019-02-25 08:17] #54 closed

[2019-02-25 08:20] regel commented on #55
Hi @daradermody feel free to submit a pull request. It's a good first issue to learn the Job runner implementation. Useful info: see the progress_cb callback.

[2019-02-25 08:21] regel commented on #56
Documentation is included in the OSS, docs/reference/* feel free to contribute. Thank you @daradermody

[2019-02-25 08:21] regel commented on #57
fixed in 1.5.0

[2019-02-25 08:21] #57 closed

[2019-02-25 08:24] regel commented on #59
EXPERIMENTAL: a crontab definition and incremental training support have been added to 1.5.0 - this new feature still requires additional unit tests. Using the crontab py module does not work in virtual env, a better option would be to use the py schedule module.

[2019-02-25 08:25] regel commented on #67
@daradermody this one is a good first issue, feel free to submit a pull request. All plugins implement the datasource.py interface, you will probably have to change the save() function.

[2019-02-25 08:26] regel commented on #68
fixed in 1.5.0

[2019-02-25 08:28] regel commented on #70
@bdeam @camAtGitHub @jorgelbg : support for Grafana discussion in the community forum, https://community.grafana.com/t/metrics-forecast-and-outlier-detection-automl-automation/13906

6.x seems to use React, it's good news!

[2019-02-25 08:36] regel opened #89 "Create static _site documentation using Jekyll"
If you checkout the `jekyll` branch, it contains code to convert .asciiidoc files to static html pages, but the pages are missing style.

We need help to generate new documentation for Loud ML. The new static pages will be hosted at loudml.io

The new docs can be inspired by the CircleCI documentation also using Jekyll. The code that creates CCI doc is at: https://github.com/circleci/circleci-docs

[2019-02-25 08:43] regel opened #90 "CNN wavenet model"
The CNN wavenet model has been applied to financial time series and sales forecasting problems:

- https://arxiv.org/abs/1703.04691
- https://arxiv.org/abs/1803.04037

Your help is wanted to release a wavenet implementation in the next Loud ML release. Please check the contributing guide, and refer to donut.py for a reference model implementation. Applying the model to one single feature is okay i

[2019-02-25 08:45] regel opened #91 "OpenTSDB data source"
Your help is wanted to release the OpenTSDB data source plugin in the next Loud ML release. Please check the contributing guide, and refer to datasource.py and influxdb.py for a reference data source implementation.

[2019-02-25 08:45] regel opened #92 "Prometheus data source"
Your help is wanted to release the Prometheus data source plugin in the next Loud ML release. Please check the contributing guide, and refer to datasource.py and influxdb.py for a reference data source implementation.

[2019-02-25 08:46] regel opened #93 "Splunk data source"
Your help is wanted to release the Splunk data source plugin in the next Loud ML release. Please check the contributing guide, and refer to datasource.py and influxdb.py for a reference data source implementation.

[2019-02-25 08:46] regel opened #94 "Postgres data source"
Your help is wanted to release the Postgres SQL data source plugin in the next Loud ML release. Please check the contributing guide, and refer to datasource.py and influxdb.py for a reference data source implementation.

[2019-02-25 08:48] #68 closed

[2019-02-25 19:37] regel opened #95 "SO-GAAL SO-GAAL"
https://arxiv.org/abs/1809.10816

[2019-02-25 20:04] regel opened #96 "K-Fold cross-validation"
The fastest method to evaluate a model is to split the data set into training and testing set, train the model using the training set data and check its performance with the testing set.

This split is 2/3, and 1/3 in `donut.py`and can be improved by using optional K-Fold cross-validation.

[2019-02-26 18:53] sorinmuchi opened #98 "Question: Multivariate time series support"
LoudML seems to only learn from univariate auto-correlated models, where past values of the target variable are used to predict future values of the same variable.

However I'd like to use LoudML to learn from multivariate time series, where at each time `t` there are multiple independent variables `x_t_1` through `x_t_k` that are correlated to the target value `y_t`.

**Does LoudML also support l

[2019-02-26 20:50] sorinmuchi commented on #98
I've just stumbled upon this example: https://loudml.io/guide/en/loudml/reference/1.4/times-dsl-multiple-dimensions.html and I believe it would perform multivariate time series forecasting.

Does anyone have any implementation details on how it works?

[2019-02-26 21:05] regel commented on #98
@sorinmuchi  Hi, mv was dropped in 1.5 (the current master branch). We can re-introduce multivariate feature support in a future release.

What type of multivariate data problem do you have in mind?

[2019-02-26 22:47] sorinmuchi commented on #98
@regel Sad to hear it was dropped. Is is it a lot of work to add it back? _Maybe_ I can try and help.

As an example let's say I'm trying to replicate the forecasting part of the Google experiment here:
https://deepmind.com/blog/deepmind-ai-reduces-google-data-centre-cooling-bill-40/

In which case I would have weather data as an _[autoregressive]_ input, a few other _[more or less independent]_ i

[2019-02-27 05:03] jkalnik opened #101 "Documentation - instructions for Debian installation does not work"
Issues occur on Debian 9 while following instructions from https://loudml.io/guide/en/loudml/reference/1.5/deb.html

**Repository style of installation gives following error while trying to run command**

`sudo apt-get update && sudo apt-get install loudml-elastic loudml-influx`

[code]

**loudml-base and loudml-api packages are missing when trying to install manually**

command:
[code]

returns:

[2019-03-04 20:51] activiteOCR commented on #101
Hello,

+1 same error

[2019-03-05 08:20] regel commented on #101
Hi, thanks. I've pushed a commit to fix the documentation and will regenerate the html.

1.5 release introduced breaking changes. loudml is a monolithic package and no longer requires `loudml-elastic` nor `loudml-influx`. The only package to install is now `loudml`. You can refer to the 1.5.0 release notes for more information.

[2019-03-06 09:32] AicyDC opened #103 "Documentation: Unclear the difference between predict and forecast"
Predict command: The predict command will return model predictions for a given time range, and a given model.
Forecast command: The forecast command will return a time series forecast for a given time range, and a given model.

I don't understand the difference between these two?

Also I have been unable to use either to make predictions. When I use both the CLI and the chronograf interface to pre

[2019-03-06 09:51] regel commented on #103
Hi @AicyDC, ok, what version is currently installed? Can you please paste a full log including your CLI command and the console output?

Agreed we can improve the docs.

We've written two functions with distinct goals:
-  `predict` is mainly designed to test the `fit` between historical data and the model output, or to detect live anomalies
- `forecast` is designed to forecast future data and is f

[2019-03-06 10:57] AicyDC commented on #103
Training CLI output:
[code]

Training log output:
[code]

Forecast CLI output:
[code]

Nothing showed up in the docker logs of the loudml machine for forecasting.

[2019-03-06 15:07] AicyDC commented on #103
Sorry I didn't tell you what version I have installed. I am using the community loudml docker image, which says it is version 1.5.0

[2019-03-08 23:01] lephisto opened #104 "Verify GPU Usage"
Hi Sebastien,

is there any way to verify that loudml and the underlying tensorflow is acutally using the GPU?

I have set this:

[code]
.. but I can't be sure, that tensorflow actually did initialize cuda cores.

thanks in advance..

[2019-03-09 12:42] regel commented on #104
Hi @lephisto your settings are correct.

What is the OS you are using with Loud ML? Debian, Ubuntu, EL7?

You can use `nvidia-smi` to verify that the GPU tensor cores are effectively in use by a Python process. This will tell you the process and load on the GPU.

The current master (1.5.0) packages the CPU version only. Loud ML was tested on a P100 in GCP but this is not yet reflected in the maste

[2019-03-09 12:55] regel commented on #103
In the forecast logs, the `avg` value is undefined for many 40s buckets, and then replaced by zero given your feature definition. Is this something to investigate?

[code]

If you query influx, eg `show measurements`, what do you see?

tip: the settings below are no longer needed with 1.5.0, and also you can increase your span value(10), so 400s, to a larger value. The `span` is the sliding window

[2019-03-09 13:01] lephisto commented on #104
I'm on Ubuntu, installed debian packages on Baremetal w/ NV 360.116..

That might explain why GPU support won't work.

thanks for answering.

[2019-03-09 13:11] regel commented on #104
You will need CUDA drivers, kernel headers, and DKMS. Reboot once if the kernel version was actually updated. Useful check is to test the CUDA driver build status, change 410.72 according to your release:

[code]

GPU environment is a pain to setup. Hopefully we will make things easier with the next packaging, and install all dependencies in one step.

[2019-03-10 12:39] lephisto commented on #104
Okay, I will try to get a 4xx driver running.

But to make things clear, what was a bit confusing is that you said:
[code]
Does this mean that the loudml debian package doesn't come with tensorflow-gpu at all?

[2019-03-14 12:24] tommy-couzens opened #105 "AssertionError when training"
This is my model:
[code]

This is my output when training:

[code]

[2019-03-14 12:29] AicyDC commented on #103
The forecast logs are empty for buckets that are in the future, but I thought that should be the case since it the purpose is to predict the future for which I don't have data for yet?

`show measurements` includes
[code]
`show field keys` returns under cpu
name: cpu
[code]

[2019-03-22 11:30] toni-moreno opened #106 "docker compiled with tensorflow with AVX instruction set"
Hi @regel . I'm playing with loudml  and influxdb. When trying to save a mode. The docker image on the dockerhub site, give us this error.

[code]

I've seen that it has to be with the underlying infraestructure. ( https://github.com/tensorflow/tensorflow/issues/24548)  , but I'm working with a VM on a VMware host.

 There is any way to get an loudml image without  AVX dependant tensorflow version

[2019-03-22 15:46] toni-moreno opened #107 "Error On Build"
hi @regel I'm trying to build from source ( current master version) , but there is some errors and seems to be a dependency from tensorflow failed, show I install first ? ( no info about this requierement in the README.md , what about the other compilation errors?

[code]

[2019-03-22 19:13] toni-moreno commented on #107
Hi @regel  ,I've finally compiled loudml after install tensorflow with this  command
[code]
But now this exception  happens on execute

[code]

It seems something related to uuid lib.. can you tell me what to do now please?

Lots of thanks!

[2019-03-22 21:37] toni-moreno commented on #107
Hi @regel I've finally compiled ok with

This requirements.txt

[code]

but now when started is working fine but an error message appear.

[code]

What exactly means?

[2019-03-23 07:39] toni-moreno commented on #106
I don't know exactly why but after  create a image from source as described on https://github.com/regel/loudml/issues/107 the error dissapeared

[2019-03-23 07:39] #106 closed

[2019-03-23 07:44] toni-moreno commented on #107
Seems to be working now ...

[2019-03-23 07:44] #107 closed

[2019-03-23 07:59] toni-moreno opened #108 "Training not working : iteration failed: ('Keyword argument not understood:', 'output_shape')"
Hi @regel , while training the model , ( this one is created from chronograf)

[code]

I've seen logged correctly the query into the influxdb, and the query returns correct data , when processing , this error is shown on the loudml output.

What exact means  this error? what should I do?

[code]

Do you need more info about?

[2019-03-23 09:33] toni-moreno commented on #108
@regel  The only reference in the code  to the output_shape is here

https://github.com/regel/loudml/blob/e72d8f8e7dac99208645f3adb73a5c17ba0356fe/loudml/loudml/donut.py#L656

And the exception here

https://github.com/regel/loudml/blob/e72d8f8e7dac99208645f3adb73a5c17ba0356fe/loudml/loudml/donut.py#L714

but not sure what to do.. not have enough skill about keras, and the model itself, any hint?

[2019-03-24 09:57] kang589 opened #109 "Error while training model that elasticsearch index data"
Hi @regel.
I have a elasticsearch problem with loudml-1.4.3. My model is below.

[code]

But training is not working.

[code]

What exact means this error?
Data type of 'var_len' field is number.
Data type of 'timestamp' field is date.
what should I do?

And i want to use loudml-elastic-1.5. Thanks.:)

[2019-03-25 15:12] sorinmuchi commented on #98
@regel any updates on this?

[2019-03-25 20:15] aljabr0 opened #110 "Donut implementation detail: softplus sigmas"
Hi in your implementation of the Donut algorithm the standard deviations are not derived from softplus layers (plus a non-negative epsilon) as suggested and justified by the research paper. The current implementation is based on log sigma. Since the local variations may be extremely small this can make log sigma unbounded. Do you think this should be updated?

[2019-03-26 11:56] toni-moreno commented on #108
Hi  @regel I've created a  fork  ( https://github.com/toni-moreno/loudml/tree/tf_fix ) and changed

https://github.com/regel/loudml/blob/e72d8f8e7dac99208645f3adb73a5c17ba0356fe/loudml/loudml/donut.py#L656

by this one.

[code]

Now the `('Keyword argument not understood:', 'output_shape')` message has disappeared , but still failing when training.

this new error is shown in the log right now

[c

[2019-04-07 18:14] activiteOCR commented on #106
Hello @toni-moreno @regel ,
I'm creating my first model from Docs example and using Create model command.

`loudml create-model avg_temp2.json`

Here my json:

`{
  "bucket_interval": "1m",
  "default_datasource": "myinfluxdb",
  "features": [
    {
      "default": 0,
      "field": "temp2",
      "measurement": "temperature_series",
      "metric": "avg",
      "name": "avg_temp_feature"
    }

[2019-04-10 01:31] zd1990 commented on #108
just need to update your tensorflow

[2019-04-16 21:11] activiteOCR opened #111 "The TensorFlow library was compiled to use AVX instructions, but these aren't available on your machine."
Hello,

I'm trying to install loudml on debian stretch from the getting started, I managed to connect to API but I had a problem when I created a model, I recovered this log:
`2019-04-16 21:53:18.788162: F tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use AVX instructions, but these aren't available on your machine.
Aborted`

I read several topics about t

[2019-04-19 01:47] wjljack opened #112 "install problem on centos 7"
first I install python with `sudo yum install python34` command,then run
`sudo yum install loudml loudml-elastic loudml-influx`,but print error:
[code]
so I run command` ll /bin/ |grep python`
[code]
only found python3.4, not python3, use `ln -s python3.4 python3` not work.

[2019-04-19 12:01] osunac commented on #112
On a CentOS 7 the Python executable is actually `/usr/bin/python3` and this should not block the installation.

In your case the real issue is that you must not install the packages `loudml-elastic` nor `loudml-influx` because they are designed for Loud ML 1.4.3 ; with the version 1.5.0 you only need `loudml-base` and `loudml`.

[2019-04-29 08:43] pepck-svc opened #113 "Ubuntu 18.04 Install - Missing Python Dependencies"
Installing loudml on Ubuntu 18.04 using the apt repository resulted in the following errors when starting the loumld service:

`Apr 29 08:34:38 loudml loudmld[522]: Traceback (most recent call last):
Apr 29 08:34:38 loudml loudmld[522]:   File "/usr/bin/loudmld", line 6, in <module>
Apr 29 08:34:38 loudml loudmld[522]:     from pkg_resources import load_entry_point
Apr 29 08:34:38 loudml loudmld[5

[2019-05-01 17:30] bandeep2000 opened #114 "TPE using 1/1 trials with best loss higher"
Using the latest version of loudml:

Seeing best loss > 4, before it was around 0.01, is this expected?
What does best loss mean, trying to look in the docs also

loudml train --from "now-6d" --to "now-2d" avg_cpu_idle1

INFO:hyperopt.tpe:TPE using 0 trials
INFO:hyperopt.tpe:tpe_transform took 0.002101 seconds
INFO:hyperopt.tpe:TPE using 1/1 trials with best loss 5.594314
INFO:hyperopt.tpe:tpe_tra

[2019-05-02 12:06] ramchinthamsetty opened #115 "Influxdb datasource not found"
I configured loudml.yml as below:

datasources:
  - name: capacity_model
    type: influxdb
    addr: localhost:8086
    database: capacity_management
    retention_policy: autogen
storage:
  path: /kafka/loudml/var/lib/loudml

server:
  listen: 0.0.0.0:8077

I have created a model as below, which is successful:

{
        "name":"capacity_model",
        "offset": 30,
        "features":[

[2019-05-04 16:30] activiteOCR commented on #111
Hello, any chance to provide a loudml docker component with tensorflow not compiled with AVX instruction???

Thank you?

[2019-05-06 14:53] fmercier-almerys commented on #112
not really even with loudml it failed even  ln -s /usr/bin/python3.4 /bin/python3 does not resolve the issue

[2019-05-09 08:15] wjljack opened #116 "training use API : Operation not permitted"
I use docker to run loudml, in docker container bash, i can use cli to create model and train model, but when i use api , print log
[code]

[2019-05-19 14:56] nonostar opened #117 "Cannot save prediction if parameter if "match_all" is defined for elastic datasource"
If I define a match section in my model, for example:
`"match_all": [ {"tag": "event.dataset.keyword", "value": "system.cpu"} ]`

Creation and training run both fine but writing prediction fails in elastic datasource:
`curl -X POST "http://localhost:8077/models/model_test/_start?save_prediction=true`

will result:
`elasticsearch.helpers.BulkIndexError:` ('1 document(s) failed to index [...]
'error

[2019-05-21 22:53] nonostar commented on #117
Ok It works, I added this dirty fix in the file elastic.py, for the function send_bulk:
     `for i in range(len(requests)):
                for key in requests[i]['_source']:
                        if 'keyword' == key.split('.')[-1]:
                                newkey = key.replace('.keyword','')
                                requests[i]['_source'][newkey] = requests[i]['_source'].pop(key)

[2019-05-21 23:04] nonostar commented on #117
Writing prediction is still quite buggy.
You should use, at least, the type "date" for the specified model's parameter "timestamp_field". My timestamp field finaly had the type "long" and I had to change it with index template.
Using inline "painless script" functionnality just for matching tag instead of a classic elastic term query is really weird but I imagine you had some constraints I don"t k

[2019-05-21 23:10] nonostar commented on #117
You should plan to add the possibility to write prediction to another datasource than the one used to learn.
For compliance, performance or big mess issues ;)

[2019-05-21 23:18] nonostar commented on #116
check the owner of the processus running loudmld, then set correct right to his data repository ...

[2019-05-21 23:21] nonostar commented on #111
rm -rf /usr/lib/loudml/vendor/tensorflow*

[2019-05-21 23:28] nonostar commented on #105
+1
Same here for elastic  datasource,
changing just a little the training window might correct the issue (or crash it sooner)...
changing default value to something else than 0 if missing bucket should correct the issue but screw the training

[2019-05-22 21:58] nonostar commented on #117
I changed again function send_bulk, ugly but it suits my need

[code]

[2019-05-22 22:10] nonostar commented on #117
I exchanged left/right side of "upper_" / "lower_" of predicted metric's name in donut.py because it was not convenient to sort it among lot of others.

[2019-05-29 10:32] ritaesperond opened #118 "No data found for time range while training LoudML"
**Using LoudML 1.5**

**Command used for training:

 docker exec -ti zealous_leavitt loudml train -d testsaveinput -f 1557401400 -t 1557402300 consumomodel**

**Error:
INFO:root:connecting to influxdb on 46.183.114.190:8086, using database 'chronograf'
INFO:root:train(consumomodel) range=2019-05-09T11:30:00.000Z-2019-05-09T11:45:00.000Z train_size=0.670000 batch_size=256 epochs=100)
INFO:root:conn

[2019-06-15 12:27] yolkhovyy opened #119 "1-click ML button not available in Chronograf"
![Screenshot from 2019-06-15 13-01-40](https://user-images.githubusercontent.com/9390324/59551387-0d644280-8f79-11e9-8a0d-8835e7930a34.png)

The 1-click ML button is not available, please see attached screenshot.

Have followed a tutorial here: https://medium.com/loud-ml/a-devops-tutorial-to-setup-intelligent-machine-learning-driven-alerts-c4de93cf6d66

InfluxDB/Telegraf/Kapacitor run on a Raspber

[2019-06-19 07:31] ritaesperond commented on #118
Finally error found:
My mysqldb is datetime format, so I had to convert datetime to ISO 8601 time format:

                        timestr = value.strftime('%s.%f')
                        timestamp = float(timestr)
                        tz = pytz.timezone('Europe/Madrid')
                        fecha = datetime.fromtimestamp(timestamp, tz).isoformat()

Then, set float(value) in order to have t

[2019-06-19 07:31] #118 closed

[2019-07-03 07:01] MaikkiTech commented on #112
I can verify this same issue with RHEL7.

Has someone found a solution for this?

[2019-07-09 16:30] regel commented on #112
Updated the repo to migrate to python 3.6. You can rebuild (`make rpm`) the RPMs on master. View the README file to make sure your pip is installed in `/opt` before your build. And finally, run `yum install` on the new RPM file to do the install. You should see two packages: `loudml` and `loudml-base`

[2019-07-10 18:00] jensenja opened #122 "why force users to use an annotation DB?"
I was attempting to train my first model when I was surprised that loudml was trying to create a new TSDB called `chronograf`:

[code]

Ignoring the SSL error because I know what the problem is with that, I had to go digging into the source code to find out why LoudML was trying to create a `chronograf` database in my InfluxDB node. It would seem that having an "annotation DB" is a requirement - w

[2019-07-11 14:31] regel commented on #122
Can you please dump your `config.yml` file?

[2019-07-11 14:35] regel commented on #122
The annotation_db's main purpose is to log anomalies. The `loudml train` command is trying to query this data in order to exclude abnormal data points from the training set. This should be optional. Let me check the settings.

[2019-07-11 15:30] regel commented on #122
A YAML config example that references an annotations source and specifies that the database should not be created (`create_database: false`) if it doesn't exist.

[code]

[2019-07-11 17:47] jensenja commented on #122
hi @regel - thanks for the reply. Here's my `config.yml` with some bits retracted:

[code]

I'll use the suggested `config.yml` approach you've provided - thank you for that. I also have an SSL verification problem that I'll be posting a new issue for. Are you guys also accepting pull requests for documentation updates? I had a real hard time figuring out how to adapt bits and pieces from blog pos

[2019-07-11 18:49] jensenja commented on #122
@regel - your config suggestion isn't working. loudml is still trying to create the database. my revised `config.yml`:

[code]

error in the container log:

[code]

[2019-07-14 06:33] regel commented on #119
Hey @yolkhovyy, the 1click button was renamed "Create baseline" in the latest prototypes. You can see the button is not active so you may have to select your bucket_interval, or aggregation type. If you hover your mouse on the button it will tell you what's missing.

You're right, linear fill is not supported. Using "previous" is a good choice when you have time series with irregular data points.

[2019-07-14 06:49] regel commented on #117
@nonostar Hi, thank you for your contribution! Let me have a look.

Our docs really need an update. You can do it. Your model description can define a "source" and a "sink". Your JSON settings can include the following parameters. If you want all predictions in the same index     you can set `"default_datasink": "loudml"` and they will be saved and tagged according to the model name.

[code]

Sink

[2019-07-14 06:53] regel commented on #111
Agree with @nonostar. We bundle the standard TF version and apparently the TF team decided to enable AVX flags by default. As suggested the easiest way to change version is to remove the TF directory and replace it with your own PIP3 install.

[2019-07-14 06:54] regel commented on #112
@wjljack can you rebuild and install with master to verify this issue?

[2019-07-14 06:59] regel commented on #115
@ramchinthamsetty

Hi, your JSON model file uses `"default_datasource": "capacity_management"` but your config.yml file declared a `capacity_model` source.

For clarity you can rename both to `capacity_datasource`, eg your `config.yml` file can be:

[code]

and your JSON model file can be:

[code]

[2019-07-14 07:06] regel commented on #110
Hi Nicola, I've run the Softplus layers version locally but did not see an improvement. We can work on this one together if you want to contribute a first pull request.

[2019-07-14 07:10] regel commented on #113
Hi @pepck-svc thanks for the info. You can submit a pull request to help enhance the documentation for others.

Guide: `https://loudml.io/guide/en/loudml/reference/current/ubuntu.html`

Doc file in this repo: `docs/reference/setup/install/ubuntu.asciidoc`

[2019-07-14 07:13] regel commented on #122
@jensenja

Hi John, yes 100%. Pull requests much appreciated, I should set a badge on the main Github page.

Documentation is located in the `docs` folder.

[2019-07-18 20:49] lblabr commented on #111
I'm really new to docker an loudml, could somebody be so kind to describe what exactrly to do ? after pull from dockerhub ?`

thanks in advance

Lars

[2019-07-19 07:59] robcowart commented on #104
@regal is there any update on GPU support being released? I have my GPU working fine with other TF test loads. It would be a great feature to set LoudML apart.

[2019-07-19 09:06] regel commented on #104
Hey Rob, I've been running GPU instances (P-100) on GCP.

GPU support significantly offloads the CPU, and the speed gain is about 2x by increasing the batch size to 256 if I remember well.

It's mainly a packaging/configuration management thing with dependencies on CUDA and the Intel optimized MKL libraries. My initial idea was to replace the `loudml-base` package with two packages: `loudml-cpu`,

[2019-07-20 13:00] yolkhovyy commented on #119
Yes, the button is called _Create baseline_ indeed, when I hover mouse over the button I see a pop up with the following message:

Unable to find LoadML datasource for selected database. Check configuration.

What does that mean?

[2019-07-21 12:57] lblabr opened #124 "ERROR:root:donut"
i'm new to loudml, i can't create a model. i tried from chronograf, it doesn'succeded, so i went to terminal an executed the following command..

whats wrong with my configuration ?

root@361b761ea5a2:/tmp# cat test.json

{"bucket_interval":"20m","default_datasource":"openhab","features":[{"name":"test","measurement":"AvatarPlug2_Power","field":"value","metric":"mean","default":"previous","io":"io

[2019-07-21 17:22] regel commented on #124
What are the OS and loudml versions installed?

[2019-07-21 19:48] lblabr commented on #124
I'm using the qxip/loudml docker, it's 1.2.1, just startet upgrade

[2019-07-21 20:11] lblabr commented on #124
upgraded to 1.5, same problem....
i'm using tensorflow without avx.... do you need additional informations ? just tell which.

[2019-07-21 20:11] lblabr commented on #124
how can i debug ?

[2019-07-21 22:35] lblabr commented on #124
tried with loudml/community docker

get:

root@loudml:/tmp# loudml create-model /tmp/test2.model
ERROR:root:Unsupported model (type = 'donut')

[2019-07-22 06:44] regel commented on #124
Use the official images at github.com/regel/loudml.

A starting point with Docker is the docker compose environment available below:

https://github.com/regel/loudml/tree/master/docker/compose

1.5 is packaged with the default TF version 1.12 image and the TensorFlow decided to with AVX enabled. No AVX? What device are you using?

The no AVX image was requested several times so I will try to re-or

[2019-07-22 07:04] kmrskt opened #126 "How can i get prediction with tags"
1) I have cpu_usage information with tag <serverid> in my dataset.
2) I want to predict anomally in cpu_usage for each  serverid.
3) I don't want to create individual model for all <serverid> because in that case there will be thousands of model running, so i want to train my model based on all dataset
4) I want to  predict based on tag <serverid> , how can i achieve it ? i didnt find anything on

[2019-07-22 21:00] lblabr commented on #124
this would be great! i'm using an qnap TS-453A and i have openhab with influx i would like to test some ml... so come to Loudml. Running the dockers from loudml/community or qxip withon container station ...
i'm also new to docker ...

Influx, chronograf is running, data is stored from openhab directly in influx, do i need kapacitor ?
could you point me to the docker file for loudml (keep in mind

[2019-07-23 11:23] lblabr commented on #124
hope this helps....
built without avx and install in loudml docker..

root@loudml:/tmp# loudml create-model test.model
ERROR:root:Unsupported model (type = 'donut')
root@loudml:/tmp# cd /
root@loudml:/# find | grep donut
./usr/lib/python3/dist-packages/loudml/__pycache__/donut.cpython-35.pyc
./usr/lib/python3/dist-packages/loudml/donut.py

root@loudml:/# pip3 install tensorflow-1.14.0-cp35-cp35m-l

[2019-07-24 10:09] EpsDel opened #128 "Latent/reconstruction loss function might have an error"
I have recalculated the latent loss function from the M-ELBO under the assumptions made in the original DONUT paper (https://arxiv.org/abs/1802.03903) and got different results, from what you used in `donut.py`. Perfomance might improve when using the correct latent loss. In the pdf you can find my derivations and detailed explanations.

[Latent_Loss_Issue.pdf](https://github.com/regel/loudml/file

[2019-07-25 07:35] regel commented on #128
Thanks a lot for the detailed feedback! I will definitely double-check this.

Would you like to submit a pull-request?

We definitely welcome contributions: fixes, new model types, documentation to ensure that all users can benefit from the updates and enhancements. Free and open-source, MIT license.

[2019-07-25 07:37] regel commented on #115
@ramchinthamsetty I noticed that it's been a little while since we last heard from you, and I wanted to check in to remind you about this ticket.

Can we close this ticket? You can always respond to the ticket to reopen it if needed.

[2019-07-25 07:42] regel commented on #116
@wjljack I noticed that it's been a little while since we last heard from you, and I wanted to check in to remind you about this ticket. Can we close this ticket? You can always respond to the ticket to reopen it if needed.

@nonostar is correct. Loud ML installs a local user and group (loudml:loudml) and the loudmld daemon should run as this unprivileged user. This also means the files in `/var/l

[2019-07-25 07:49] regel commented on #119
Yes, you can create the `from_loudml` database manually.

`Unable to find Loud ML datasource for selected database. Check configuration.`

The above message will appear if there is a mismatch in settings. Chronograf defines its own "data sources". Loud ML is a separate software so it does the same with another `config.yml` file. The UI demo is trying to match data sources by name, but if it fails

[2019-07-25 07:57] regel commented on #124
How did you install/build the no-AVX version?

I noticed in the logs that you have TF 1.14. Our current reference version is 1.12 and will be upgraded to 1.13.2. The new docker images will use 1.13.2, and use tags for gpu / or noavx - according to your needs.

If you are new to Docker you will see the learning curve is fast.

- Dockerfiles are used to build the image
- Our Docker images expose por

[2019-07-25 08:02] regel commented on #126
So, you want to train one model using more than one time-series, using tags to query the data set. You want to use this model for predictions (run inference) using individual time series defined by single tag values. Is this correct?

This feature is not supported in the latest release. How would you suggest to modify the API / CLI to support this change?

What is your database, influx 1.x?

[2019-07-25 08:04] regel commented on #122
The documentation is now deployed continuously by Netlify. We welcome contributions.

Thank you for the extra log information. We can reproduce and fix this.

[2019-07-25 08:10] regel commented on #111
@activiteOCR

Yes. It is on the radar and the next official docker image will receive a -noavx tag.

[2019-07-25 08:15] regel commented on #109
Hi @kang589

The most common source of issues with Elasticsearch is index mapping. The ES API changes in each release (5.x, 6.x, and 7.x). The official Python libs made available by Elastic only support one major release.

The error that you see is caused by an index mapping that wasn't installed properly, so timestamp and keywords are not using the correct data types. You can run a curl query on

[2019-07-25 08:26] regel commented on #105
Missing data points are usually a bad thing for DNNs. The donut model avoids this caveat by using missing data point reconstruction. So using `default: 0` or `previous` is one way to work around this problem but it's not strictly required here.

Using a large span (50 or more) is fine, but you may end up with an empty evaluation data set. The training time window is split (2/3, 1/3) into training

[2019-07-25 08:35] regel commented on #108
@toni-moreno the standard version runs fine in our CICD testing so it should work out of the box in your setup too. If you install `loudml-base` package together with `loudml` and remove all other PIP local packages, you will have a clean environment using TF 1.12 (vendor dependency in loudml-base) and all other dependencies needed.

Using PIP local installs can break things everywhere and enters

[2019-07-25 11:29] lblabr commented on #124
i followed more or less: https://www.tensorflow.org/install/source

1) git clone https://github.com/tensorflow/tensorflow.git
2) cd tensorflow
3) ./confgure

based on: https://software.intel.com/en-us/articles/intel-optimization-for-tensorflow-installation-guide?_ga=2.22416633.314046722.1563602407-1048086026.1563602407#inpage-nav-6

4) bazel build --config=mkl -c opt --copt=-mavx --copt=-mavx2 --c

[2019-07-25 19:51] activiteOCR commented on #111
Thank you for your work, I stay tuned for the next release.

[2019-07-25 21:13] lblabr commented on #124
How do i build your docker container, with 1.13.2 ?

[2019-07-27 19:22] lblabr commented on #124
my bazel build ist wrong ...
i have tensorflow up and running (1.14)
i use python 3.7

root@34da308d438f:/mnt/loudml_000# /usr/local/bin/loudml create-model test.model
ERROR:root:Unsupported model (type = 'donut')

could you help me again ?

Thanks in advance

Lars

[2019-07-27 22:25] lblabr commented on #124
tried make test...

some packages needed to be installed...

finally:
loudml create-model test.model
worked

tried loudmld:

loudmld
Traceback (most recent call last):
  File "/usr/local/bin/loudmld", line 11, in <module>
    load_entry_point('loudml===1.5.0.41.g6f23a7b', 'console_scripts', 'loudmld')()
  File "/usr/local/lib/python3.7/dist-packages/loudml-1.5.0.41.g6f23a7b-py3.7.egg/loudml/server

[2019-07-28 06:19] lblabr commented on #124
got it fixed, i had the wrong crontab library,  should be python-crontab not crontab..

- create-model works
- train works

get errors in forecasting

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/loudml-1.5.0.41.g6f23a7b-py3.7.egg/loudml/server.py", line 189, in _done_cb
    self._result = self._future.result()
  File "/usr/lib/python3.7/concurrent/futures/_bas

[2019-07-28 06:55] lblabr commented on #124
some detailed informations:

10.0.3.4 - - [2019-07-28 06:53:47] "GET /models HTTP/1.1" 200 1171 0.013928
pebble.common.RemoteTraceback: Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/pebble/common.py", line 171, in process_execute
    return function(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/loudml-1.5.0.41.g6f23a7b-py3.7.egg/loudml/worker.p

[2019-07-28 07:00] lblabr commented on #111
i compiled tensorflow with:

bazel build --config=mkl -c opt --copt=-march=native //tensorflow/tools/pip_package:build_pip_package

[2019-07-28 15:19] regel commented on #111
Tip: a useful resource for TF build is: https://github.com/hadim/docker-tensorflow-builder

Apparently, TF turned AVX on in r1.6. We can refer to the official Tensorflow Dockerfile(s) and compare what it was before & after r1.6

[2019-08-01 08:50] regel commented on #114
@bandeep2000

I read in your log: 5.59, 5.54, 5.54, and then 5.15. The loss is decreasing: good news, this means the neural network converges and finds a better fit.

You will get minor changes and different output for each run. This is the normal behavior with Tensorflow: layers in the DNN are initialized with random initial states.

This is described here: https://keras.io/getting-started/faq/#h

[2019-08-01 18:14] #116 closed

[2019-08-01 18:15] #112 closed

[2019-08-01 18:16] #115 closed

[2019-08-01 19:32] regel commented on #111
WIP.

I'm trying to break it down step by step.

1. I'm using the official Tensorflow [Dockerfile](https://github.com/tensorflow/tensorflow/tree/r1.13/tensorflow/tools/dockerfiles) named devel-cpu.Dockerfile. Building this container gives a clean build environment. The bazel version environment variable must be changed according to the version we want to build. See: https://www.tensorflow.org/inst

[2019-08-01 20:31] toni-moreno commented on #108
Hi @regel I did but still with problems, my testing environment has not AVX instructions available this was the motivation for install my own tf version.

I will close in favour of https://github.com/regel/loudml/issues/111

[2019-08-01 20:31] #108 closed

[2019-08-02 08:23] yolkhovyy commented on #119
Do I understand it correct that the Chronograf, Kapacitor and LoudML use the same database?

[2019-08-02 12:43] regel commented on #119
In this example, Loud ML reads data from the `influx` source and then writes data to `kapacitor` for alerting purposes.

Kapacitor is not the database, it's a stream processor: data in - data out. Sometimes there is no data out, and it's only used for alerting.

[2019-08-02 12:44] EpsDel commented on #128
I am having troubles running all the unit tests. At least one test `test_donut.py` seems to be faulty, since it does not pass for the unmodified loudml itself. Furthermore, the unit tests are highly non-transparent. Normally, you would aim for testing about 5 different datasets and output the loss for the respective test sets along with the results of (classical) model evaluation. I am therefore u

[2019-08-02 13:01] regel commented on #128
There is variance due to RNG seed values. I'm pushing commits on master to fix this in the coming days.

Unit tests main intent is to avoid functional regression when the software changes, like upgrading a package dependency, making changes to a function, etc. It's a quality gate that executes in the CI pipeline.

Evaluating against classical model is useful but probably outside the scope of unit

[2019-08-02 14:09] EpsDel commented on #128
The weight initialization in keras is done using the glorot uniform initializer by default. The optimizer is quite robust with respect to this initialization, but still it might be the cause. In `compute_bucket_scores` you use the midvalue as an estimator of the mean, which in turn is not robust, so maybe this is the source of the problem, as it is exactly the "y_low_high" test that fails.

Then I

[2019-08-02 19:50] #124 closed

[2019-08-02 19:53] lblabr opened #130 "ValueError: Layers could not be added due to missing dependencies."
Running on:
ubuntu xenial docker
tensorflow 1.14
python 3.5
loudml built from sources

do you have an idea how to fix that error on forecasting ?
Thanks in advance

E0802 19:43:48.581220 139751318095616 worker.py:61] Layers could not be added due to missing dependencies.
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/loudml-1.5.0.41.g6f23a7b-py3.5.egg/loudml/work

[2019-08-04 08:12] regel commented on #130
loudml is not yet compatible with TF 1.14

The latest supported TF release is TF 1.12.

A common practice in Python is to "pin dependencies":

If you are using a virtual-env you can run the command below to install all loudml dependencies with the official versions that are used in the test environment:

`pip install -r base/vendor/requirements.txt`

That being said, I'm working on TF 1.13.2 suppo

[2019-08-04 08:46] lblabr commented on #130
i will try compiling TF1.12 and check

[2019-08-04 09:49] lblabr commented on #130
check cpu flags

grep flags -m1 /proc/cpuinfo | cut -d ":" -f 2 | tr '[:upper:]' '[:lower:]' | { read FLAGS; OPT="-march=native"; for flag in $FLAGS; do case "$flag" in "sse4_1" | "sse4_2" | "ssse3" | "fma" | "cx16" | "popcnt" | "avx" | "avx2") OPT+=" -m$flag";; esac; done; MODOPT=${OPT//_/\.}; echo "$MODOPT"; }

[2019-08-05 14:15] regel commented on #128
Just pushed fresh changes on master and upgraded to TF 1.13.2 at the same time. So if you have a virtualenv you can do `pip install base/vendor/requirements.txt` to upgrade.

Changes:

- Added the missing layers, set L2 regularization, clip norm, etc, to use the empiric values defined in the original publication
- Used beta as suggested in latent loss calculation

Tip to set the random seed and ge

[2019-08-10 10:02] regel commented on #111
`2019-08-10 09:47:36.876519: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA`

WIP.

A first docker container is released.

Try: `docker pull loudml/loudml:latest-devel-noavx`

This image is built and pushed by the CICD pipeline and will be updated automatically with all changes made

[2019-08-10 10:05] regel commented on #104
Try: `docker pull loudml/loudml:latest-devel-gpu`

This image is built and pushed by the CICD pipeline and will be updated automatically with all changes made in the `master` branch. More instructions on the docker [page](https://hub.docker.com/r/loudml/loudml)

Please note that you still need num_cpus > 0 - even if you have GPUs - because TF's optimizers run on the CPU.

Looking forward to your f

[2019-08-13 13:22] trunet opened #134 "Error using derivative operator"
I'm trying to train a model that is a counter. Therefore derivative is needed to calculate requests/timeframe.

[code]

My model is as follow:
[code]

[2019-08-15 15:13] danielcoakley commented on #119
Hi, I'm getting the same issue as above.

"Unable to find LoadML datasource for selected database. Check configuration."

I'm using the exact same settings as @yolkhovyy above. I've tried a number of different configurations, and removed DB authentication, in case this was blocking LoudML.

[2019-08-22 06:32] ajayanaj opened #135 "Support for multiple organisations in chronograf"
Hi,

We are looking to use loudml in our system, but while testing we noticed that organisations administration is missing in your customised chronograf. We are using chronograf for multiple customers (each influx database for each customers) with multiple organisation.
Say example I have a customer1 and the DB looks like customer1_db and the chronograf org looks like customer1. This will continue

[2019-08-25 18:00] pramodpk89 commented on #119
I am having the exact same issue as mentioned by @yolkhovyy . Any suggestions?

loudml.yml

datasources:
  - name: influx
    type: influxdb
    addr: influxdb:8086
    database: telegraf
  - name: kapacitor
    type: influxdb
    addr: kapacitor:9092
    database: from_loudml
  - name: JHInflux
    type: influxdb
    addr: lxinflux0887:8086
    database: test
storage:
  path: /var/lib/loudml

ser

[2019-08-25 18:06] pramodpk89 commented on #65
I am having the exact same issue.Any suggestions?

[2019-08-26 04:01] pramodpk89 commented on #119
I got the issue , had to specify the retention policy with below entry :

[2019-08-27 20:31] PenteonDevTeam opened #136 "New Install Ubuntu 18.04 Docs Incorrect"
**New Install on AWS on Ubuntu 18.04**
Using Instructions at:  https://loudml.io/en/loudml/reference/current/ubuntu.html
and    https://loudml.io/en/loudml/reference/current/_setup_your_config_yml_file.html

Following these instructions I performed the following with unsuccessful results:

**Download and install the public signing key:**
wget -qO - http://loudml.s3-website-eu-west-1.amazonaws.com/

[2019-08-29 03:37] pahowart commented on #84
Can we get an update on this? @regal , link you provided is broken. Release notes for 1.4 , 1.42 and 1.5 make no reference to option for retention policy in config.yml.

ty

[2019-08-29 03:51] pahowart commented on #136
Your YAML syntax isn't valid. Use something like yamllint.com to verify your config.

Using something like the following should clear the error.

---
datasources:
  -
    addr: "10.0.0.0:8086"
    database: sensordata
    name: influx
    type: influxdb

[2019-08-31 05:00] pahowart commented on #84
Found my answer  "retention_policy:"

[2019-09-02 11:37] empumd opened #137 "CentOS 7.6 Install. loudmld.service failing to start."
CentOS 7.6 Installation via repository following instructions on:

_https://loudml.io/en/loudml/reference/current/rpm.html_

Python Version is 3.6.8
I also updated pip and setuptools.

Starting loudmld.service I get the following Errors:
[code]

Could this be a permission issue? Maybe anything I have to change in the docs?

Regards,
Max

[2019-09-03 23:33] AddChickpeas opened #138 "Training fails with "failed: Abnormal termination""
Hello,

I'm trying to set up my model and am running into the follow error:

│ ERROR:root:job[a4e3ff70-975f-4ad3-9b6f-c0e6a772ff53] failed: Abnormal termination

Note: the time frame is so short because this is a new index and I'm just testing that I can get it to work at all at the moment.

Here is the json I used to create the model:

  "timestamp_field": "@timestamp",
  "bucket_interval": "1m",

[2019-09-04 14:30] activiteOCR commented on #111
Hello, Thank you for your support, I installed latest-devel-noavx image and now I can create model, I tried with the model available under loudml.io and it works.
But I have some question because I'm a beginner concerning docker concept, after an apt-get update I tried to install some package from the ubuntu repository like nano and I met an issue hereinafter the logs.
`root@loudml-loudml1:/etc/lo

[2019-09-04 16:39] osunac commented on #137
Hi.

Thanks for the bug report.

## Observed behavior
The programs `loudml` and `loudmld` cannot start. The following message is printed on screen.
[code]

## Root Cause Analysis
At the time the packages were built, Python 3.4 was the default Python 3 interpreter for CentOS 7. Since then, Python 3.6 has become the default interpreter. As a result, the programs are now started with an interpreter t

[2019-09-06 04:22] truongkendy commented on #70
I encounter this error when create new model

[2019-09-06 04:22] truongkendy commented on #70
"Unsupported model (type = 'timeseries')"

[2019-09-06 07:17] HazelCindy opened #139 "TransportError(503, 'search_phase_execution_exception') while working with elasticsearch"
my elasticsearch logs are: org.elasticsearch.action.search.AbstractSearchAsyncAction.onPhaseFailure(AbstractSearchAsyncAction.java:305) [elasticsearch-7.3.1.jar:7.3.1]
        at org.elasticsearch.action.search.FetchSearchPhase$1.onFailure(FetchSearchPhase.java:91) [elasticsearch-7.3.1.jar:7.3.1]
        at org.elasticsearch.common.util.concurrent.AbstractRunnable.run(AbstractRunnable.java:39) [el

[2019-09-06 08:35] robcowart commented on #139
This is not an issue with LoudML, rather due to changes in Elasticsearch 7.x there are two modifications I highly recommend for any time-series use-cases...

[code]

The latter attribute, `search.max_buckets`, is most specific to the issue you are seeing, but there is a good chance the other will be needed at some time as well.

[2019-09-06 09:33] HazelCindy commented on #139
this works thanks

[2019-09-06 09:33] #139 closed

[2019-09-07 10:01] lephisto commented on #98
I would like to see the return of mv as well. Any Idea when we can see it back?

[2019-09-09 06:27] muthianikev opened #141 "Numpy Issue During Installation"
I end up encountering the following problem while trying to run any loudml command from the terminal. Using Ubuntu 18.04 where i have loudml installed

File "/usr/lib/loudml/vendor/numpy/core/__init__.py", line 16, in <module>
    from . import multiarray
  File "/usr/lib/loudml/vendor/numpy/core/multiarray.py", line 12, in <module>
    from . import overrides
  File "/usr/lib/loudml/vendor/numpy/

[2019-09-10 07:44] regel commented on #135
@ajayanaj thanks for trying Loud ML. Can you please send an email to contact [at] loudml.io with your contact and company information?

[2019-09-10 07:49] regel commented on #141
This error message signals numpy installation error.

Numpy is packaged as a vendor dependency in `loudml-base`

Perhaps there is a conflict with previous numpy local install? Can you run `pip3 freeze` to list installed PIP packages?

[2019-09-10 09:30] muthianikev commented on #141
The numpy version is 1.17.1

[2019-09-10 10:53] HazelCindy opened #142 "loudml stopped with loudml-api not found error"
my logs are
 Traceback (most recent call last):
Ful 10 13:49:27  loudmld[25175]:   File "/usr/bin/loudmld", line 11, in <module>
Ful 10 13:49:27  loudmld[25175]:     load_entry_point('loudml==1.5.0', 'console_scripts', 'loudmld')()
Ful 10 13:49:27  loudmld[25175]:   File "/usr/lib/python3/dist-packages/loudml/server.py", line 1085, in main
Ful 10 13:49:27  loudmld[25175]:     loudml.config.load_pl

[2019-09-13 07:42] masongk opened #143 "Links Broken!"
Pre-built packages link, Documentation link,  getting started guide links are broken

[2019-09-13 08:29] regel commented on #143
Hi,

Thank you for reporting this. What links are broken exactly?

Documentation is deployed by Netlify and seems to work at https://loudml.io

Docker images are on docker hub. The latest Docker images include CPU or GPU support; fyi there is no GPU support in the RPM - DEB files. Docker tag '*-latest' are automatically rebuilt every night after checkout of the master revision.

A small hack: for

[2019-09-13 08:40] regel commented on #142
Hi, if pkg_resources complains you may need to clean up any previously installed version.

`loudml-api` no longer exists. Everything is bundled now into `loudml` (the core package) and `loudml-base` (all .py dependencies) to reduce the number of packages involved.

What is your OS? What is the package file you are using? Are you running/not running in a virtual env?

Apologies for 1.5 documentatio

[2019-09-13 08:49] HazelCindy commented on #142
I am using loudml 1.5 Debian package and it's the only version I have. I am not running it in a virtual environment. My os is Ubuntu 18.04Sent from my Huawei phone-------- Original Message --------Subject: Re: [regel/loudml] loudml stopped with loudml-api not found error (#142)From: Sebastien Leger To: regel/loudml CC: HazelCindy ,Author Hi, if pkg_resources complains you may need to clean up any

[2019-09-13 08:50] regel commented on #138
cc: @robcowart for Elasticsearch setup. What is your Elasticsearch version?

You can totally run it with Kubernetes and pods. You can get more logs on the server using `journalctl -xfeu loudmld`

Very nice to see you are using the POST queries. fyi we are now creating API clients in Python, Go, and Javascript for easier integration. Url for these new OSS projects:

- https://github.com/loudml/loud

[2019-09-15 15:31] lonemeter opened #144 "How to control the anomality"
I use docker to run loudml.
1. I try to train a new model, but previous anomalies still displayed on the dashboard. How can I get anomalies only new model?
2. How to control the range of prediction result(like how to make the curve wider)?
3. Will prediction result change by different new data without repeated training?

[2019-09-17 14:34] regel commented on #144
1. Using the TICK stack?
All anomalies should be tagged with the model name and I believe the UI in TICK version 1.7 can filter tagged anomalies in dashboards.

2. The confidence interval (range) is controlled by p_val option in the `loudml forecast` command line tool. Unfortunately, this option is not exposed yet in the HTTP API but it will be in the future release 1.6. The loudml CLI will move t

[2019-09-18 12:41] langerma commented on #91
I have a small library for dealing with opentsdb (https://github.com/langerma/py-opentsdb) as the code of this whole project is really complex...i am not sure if i can integrate it.

[2019-09-19 07:19] regel commented on #91
Hi, it's a great start! Happy to find a new contributor :)

I will help, don't worry.

Refactoring is ongoing on the master branch. It will make things easier (I hope!). The "Datasource" class will be renamed "Bucket".

The basic requirements to make it work:

1. Write `loudml/loudml/opentsdb.py` file with a class inherited from the parent Bucket class, then declare this class in setup.py. Your cl

[2019-09-19 10:04] regel commented on #98
@sorinmuchi thanks a lot for the data centre example. Can we find this data set publicly or privately exchange data?

@lephisto Yes it will be back.

So I've been cleaning up a few things. The CLI is moving to its own [package](https://github.com/loudml/loudml-python) and will be available on PyPI. This is WIP but almost done. Then I will fix #22 and #98 will be the next one on my list.

Our curre

[2019-09-19 13:54] lonemeter commented on #144
Thanks for your reply.

1.Can't it  filter tagged anomalies in dashboards if I using TICK-L stack?

2. What is the function of low/high watermark option in model?  How should I set it?

[2019-09-19 16:27] #44 closed

[2019-09-19 16:27] #55 closed

[2019-09-19 17:21] langerma commented on #91
cool! i'll have a try next week :-)

[2019-09-24 15:05] regel commented on #143
The /guide redirect was giving a 404 and is fixed now.

Anything else?

[2019-09-25 09:01] regel commented on #91
@langerma

You can get a sneak peek of what's coming in the next release by checking out the `enhance_apis` branch and this [PR](https://github.com/regel/loudml/pull/145) (not merged yet).

Refactoring of the `Bucket` class is completed. This is the new name for the old 'Data Source' class. Elastic, and other TSDB implementation should be a lot more readable too.

Extra documentation was just adde

[2019-09-25 09:52] regel commented on #144
1: I guess not, since this development is based on the original TICK 1.6 version and I think tagged anomalies in the UI were introduced in 1.7. We would have to rebase the UI integration using a more up to date source code.

2: You can safely ignore watermark settings. They have no effect and have been removed in the master version. The settings you are probably looking for are `min_threshold` and

[2019-09-25 10:02] regel commented on #76
Waiting for this [PR](https://github.com/regel/loudml/pulls) to be merged. The timestamp field is moved to the bucket definition.

[2019-09-25 10:03] regel commented on #77
Waiting for pull-request [145](https://github.com/regel/loudml/pull/145) to be merged.

[2019-09-25 10:05] regel commented on #109
Waiting for pull-request [145](https://github.com/regel/loudml/pull/145) to be merged, and that provides significant enhancement in Elasticsearch index mapping handling, compatible with all ES versions up to 7.x

[2019-09-25 10:06] regel commented on #114
Closing.

[2019-09-25 10:06] #114 closed

[2019-09-25 10:09] regel commented on #138
When you see this log you can do `curl -X GET pod:8077/jobs/a4e3ff70-975f-4ad3-9b6f-c0e6a772ff53` to get more error information.

Given the short time range it's possible that there is not enough data to train the model.

[2019-09-30 04:46] #67 closed

[2019-09-30 07:37] regel commented on #67
Solved on master.

[2019-09-30 07:42] regel commented on #130
The master branch was just updated and is based on TensorFlow 1.13.2. The requirements.txt file can be found in the base/vendor directory. I strongly recommend using this file to setup dependencies. Using any other version for TF, numpy, h5py, is likely to cause compatibility issues.

One important note for this new release: the CLI tool moved to a separate `loudml-python` package and is now avail

[2019-09-30 08:59] regel commented on #109
Solved on master (future 1.6.0 release)

[2019-09-30 08:59] #109 closed

[2019-09-30 08:59] #104 closed

[2019-09-30 09:01] regel commented on #59
Solved by scheduled_jobs on master (future 1.6.0 release)

[2019-09-30 09:01] #59 closed

[2019-09-30 09:02] regel commented on #76
Solved on master (future 1.6.0 release). The timestamp field for Elasticsearch is now defined in the bucket schema.

[2019-09-30 09:02] regel commented on #77
Solved on master (future 1.6.0 release). Settings can be defined at the bucket level.

[2019-09-30 09:02] #77 closed

[2019-09-30 09:11] regel commented on #84
These logs are warning. They are not critical unless you see too many of them and they cause training to fail. This log line warns you that it's not possible to calculate the average for certain timestamps. Two common root causes:
1. no data for certain time interval. They are easily ignored, and you can set a `default` setting in your model file to force a specific value when this happens.
2. You

[2019-09-30 09:18] regel commented on #137
There is no RPM yet for the latest 1.6 release, but you can clone the source code locally and run: `make rpm` at the root of the directory to generate them.

See also the file `base/README.rst` for instructions before you run the make rpm command.

One hack is to get the RPM files from CircleCI using the daily night build:

- Open https://circleci.com/gh/regel/workflows/loudml/tree/master
- Search

[2019-09-30 12:36] regel commented on #84
Documentation updated

[2019-09-30 12:36] #84 closed

[2019-09-30 12:37] regel commented on #117
@nonostar this is solved on master.

[2019-09-30 12:37] #117 closed

[2019-10-01 05:38] #76 closed

[2019-10-01 05:40] #130 closed

[2019-10-01 05:44] regel commented on #111
Thank you for your feedback. Let’s close this issue and track the other one separately.

A very important note: if you upgrade to the new build today you will notice significant changes in the master version. No release notes yet, but the documentation has been updated. You will notice that the CLI tool moved outside the core package and now can be installed via PyPI.

[2019-10-01 05:44] #111 closed

[2019-10-01 05:47] regel commented on #103
Having « predict » and « forecast »caused confusion. So « predict » was renamed to « eval » (evaluation) on the master branch. Documentation is updated.

Evaluation is really meant to evaluate model performance and compare model output values to the actual values in the TSDB. Anomaly detection is also built in evaluation.

[2019-10-01 05:47] #103 closed

[2019-10-01 05:50] regel commented on #91
It’s here. The changes have been merged on master, documentation updated, and the loudml client CLI moved to a separate lib (loudml-python) that users can find and install using PyPI.

You want to look at the Bucket class. Let me know your comments and questions.

[2019-10-01 05:53] regel commented on #144
Significant changes have been introduced in the master version yesterday. You can have a look into scheduled jobs to perform regular training. This implementation is new and the documentation is new as well. Let us know your feedback and the possible enhancements.

[2019-10-01 19:00] robcowart opened #147 "Errors starting latest-devel-gpu container"
I am trying to start the `latest-devel-gpu` and am getting the following error:

[code]

Thanks for any help.

[2019-10-01 20:18] robcowart opened #148 "Configuration via the API not persisted when using docker containers."
I am running the `latest-devel` docker container and adding buckets via the API rather than a config file. Unfortunately it seems that this configuration is not persisted, and is thus lost when the container is restarted.

Am I missing something, maybe a path that needs to be bind mounted to the local file system?

[2019-10-02 05:43] regel commented on #147
Thanks Rob. I’ll have a look and add this test to the CI config.

Are you using GKE with the NVIDIA gpus? What is your kubectl config?

[2019-10-02 05:46] regel commented on #148
Buckets and scheduled jobs added at run time are not persisted. It’s a limitation in the current version. I will fix this in a future build.

[2019-10-02 06:37] robcowart commented on #147
Not on K8s at the moment. I first started with `docker-compose`, and then just used the `docker` command with the arguments seen above.

`docker-compose.yml`:

[code]

`docker` command:

[code]

Output of `nvidia-smi` as run from with a container using `docker run --gpus all nvidia/cuda:9.0-base nvidia-smi`:

[code]

[2019-10-02 14:07] piellick opened #149 "'search_phase_execution_exception', 'failed to parse date field' | GRAYLOG + Elastic backend"
Hi everyone,
when graylog is using in front of Elasticsearch for log management, a specific time format is used and training crash.

**loudML version :** latest docker image
{"host_id":"3d919776204fddded5e557fa72242330","tagline":"The Disruptive Machine Learning API","version":"1.6.0-446132b4"}

**Elasticsearch version :** 6.7.1
**Graylog version :** 3.0.1

Here is the log output :
[code]
Mapping

[2019-10-05 16:56] langerma opened #150 "training not able to start"
**error:**
[code]
**model:**
[code]
**command:**

running master

[2019-10-06 06:05] regel commented on #149
We need a few things:
 * the model information. Run show-model to dump the settings
 * the logs produced in elasticsearch.log they usually contain more details about the exception

Your training range is 5 seconds `from=now-5s&to=now`. You can increase this range.

Also include the following settings in `/etc/elasticsearch/elasticsearch.yml` to avoid time series limitations in Elasticsearch.

[cod

[2019-10-06 06:29] regel commented on #150
I could not reproduce. Can you run `pip freeze` and provide the output? Do you see any major differences compared to the file `base/vendor/requirements.txt`?

The problem could be the networkx, h5py, or numpy version. If you are in a virtualenv I recommend running `pip install -r base/vendor/requirements.txt`to setup the dependencies.

You can also try the following:

1. generate data (warning: th

[2019-10-06 08:59] regel commented on #147
Reproduced; ok so this is a namespace conflict. The loudml-python client should be in a loudml-python namespace to avoid the conflict. I will release a new version on PyPI.

test:

[code]

[2019-10-07 18:48] regel commented on #147
Solved in the latest image.

Verified using the following pod config on GKE, `imagePullPolicy: Always` is used to ensure the latest tag is pulled.

[code]

[2019-10-07 18:50] regel commented on #150
I hope this helps. Let me know if this is still a blocking point.

[2019-10-07 18:53] regel commented on #135
@ajayanaj if I understand correctly you are requesting a TICK-L upgrade to 1.7.x plus the addition of organizations. Is this correct? What about the integration in Grafana?

[2019-10-07 19:02] robcowart commented on #147
Just tested it quickly... looks good now. Thanks!

[2019-10-07 19:02] #147 closed

[2019-10-07 19:02] robcowart commented on #135
+1 for Grafana!

[2019-10-07 19:10] langerma commented on #150
pip freeze output as follows

[code]

[2019-10-07 19:12] langerma commented on #150
i have running an older version on jetson nano with tensorflow-gpu which works fine (also with tf 1.13.1 which is the last 1.13 version for the jetson nano)

but the newer version (1.6) has the same error on jetson

[2019-10-08 13:43] activiteOCR commented on #135
+1 for Grafana!

[2019-10-08 15:00] ajayanaj commented on #135
@regel  Yes, that's correct. I would like to see if this can be integrated with Grafana.

[2019-10-08 20:17] hatdropper1977 opened #151 "Pulling latest-devel in Docker compose results in "Unable to Find Datasource" (Datasource vs. Bucket?)"
I cloned and ran the docker-compose file located [here](https://github.com/regel/loudml/tree/master/docker/compose).

It pulled the following images...

| Container         | Version      | Image ID     |
|-------------------|--------------|--------------|
| influxdb          | 1.7.8        | c0c0eb7f0bc1 |
| loudml/loudml     | latest-devel | b80613b0c560 |
| loudml/chronograf | 1.6.1        | 0d

[2019-10-08 20:58] hatdropper1977 commented on #151
Update:  I do see an issue w/ pulling **latest-devel.**

I changed [docker-compose](docker-compose) to the following:
[code]

I then changed [etc/loudml.yml](https://github.com/regel/loudml/blob/master/docker/compose/etc/loudml.yml) to the following:

[code]

When I brought the container up, **LoudML-Chronograf** can now connect to the data source.

![Screen3](https://user-images.githubusercontent

[2019-10-10 05:29] regel commented on #151
Thanks. OK. The API in 1.6 has breaking changes (eg returning arrays rather than single elements).

The JavaScript code needs a refresh. We will be able to add all buckets dynamically at run time and therefore avoid the « datasource not found » exception.

[2019-10-10 05:34] regel commented on #128
Update: the master branch is now packaging the server code. You can find the CLI client on PyPI: named loudml-python

Donut missing layers has been added as well as the default hyper parameters from the original publication. Softmaxs still missing.

More help needed to make progress on this issue? Let me know.

[2019-10-13 19:24] simeonwislang commented on #151
Experiencing the same issue as above with latest-devel. Reverting back to 1.5 works. Thanks @hatdropper1977 !

[2019-10-16 01:56] camAtGitHub opened #152 "binary 'loudml' is missing from docker container"
In the current docker image: "loudml/loudml:latest-devel" - I think the binary 'loudml' is missing
'loudmld' is there, but not 'loudml'

[2019-10-16 05:47] regel commented on #152
Good day Cam!

This is intentional. A refactoring is in progress. We now split the server code and client code. You should see the changes in getting started documentation.

The CLI moved to PyPI. Search ‘loudml-python’ on PyPI and readthedocs for more info. So the client can now connect to a remote Loud ML « node » (or cluster).

Meanwhile, we also package other client libraries for JavaScript an

[2019-10-16 06:29] camAtGitHub commented on #152
Ok Then!
I'm eagerly awaiting the updated doco :-)
Maybe even lucene query language for Elastic ;-)
Thanks

[2019-10-16 06:29] #152 closed

[2019-10-31 05:54] masongk commented on #143
That's all for now. Thanks!

[2019-10-31 05:54] #143 closed

[2019-10-31 13:24] KevinM23 commented on #151
Hi @hatdropper1977 could you please provide the full docker-compose.yml file? I do not know what exactly I'm missing, but I experience the same problem as you and changing the loudml to the 1.5.0 does not solve the problem:

docker-compose.yml:
[code]

And my loudml.yml:
[code]

What I noticed is that my ~/etc/telegraf.conf (which is in the same folder as the loudml.yml) is empty.

Hope someone ca

[2019-10-31 13:46] KevinM23 commented on #151
Also,  while using the code mentioned above I see that the chronograf version is 1.6.1

[2019-11-01 09:17] KevinM23 opened #154 "LoudML cannot find datasource"
Hello,

I've used the docker-compose file and even the advice mentioned in issue #151 however that does not solve the problem. I have attached below two screenshots of the errors I get:

![error 1](https://user-images.githubusercontent.com/27135578/68014758-b396b780-fc90-11e9-9608-ab7517775126.png)
![error 2](https://user-images.githubusercontent.com/27135578/68014761-b691a800-fc90-11e9-8471-c3bef

[2019-11-01 12:17] hatdropper1977 commented on #151
@KevinM23 it appears your loudml.yml is missing the **datasources** stanza header.

Mine looks like:

[code]

I pasted my **docker-compose** file, with the versions that worked for me below:

[code]

[2019-11-05 12:47] ngohoa211 opened #155 "source code of chronograf+loudml"
Can you share source code of chronograf that have loudml  so i can build it by myself ? Because in my job, i must customize chronograf, too

[2019-11-05 15:14] langerma commented on #155
https://github.com/loudml/chronograf

[2019-11-11 11:02] lessenko opened #156 "ERROR in loading the NUMENTA data set"
It's used:
Ubuntu 18.04
Python 3.6.8

I am trying to run CLI as loudml -e "load-nab -f now-30d numenta" with different parameters for -f
and am getting the following error:

  0%|

[2019-11-11 23:15] AddChickpeas commented on #138
Resolved this issue. Likely due to small dataset as mentioned. Now hitting other errors while I'll document in a new issue.

[2019-11-11 23:15] #138 closed

[2019-11-11 23:22] AddChickpeas opened #157 "Can't Seem to Get Training Working - "error":"'aggregations'""
Hello,

I keep running into issues when trying to model. I keep getting "error":"'aggregations'".

The field I am trying to pull data from is a numeric field in elasticsearch (type: long). Any idea what the issue I'm running into is?

[code]
[code]

A couple more notes:
1. I saw in another ticket some people were using "type":"timeseries". When I try to use this, I am told the type does not exist.

[2019-11-19 10:35] #154 closed

[2019-11-22 11:12] Xavear opened #158 "Unclear how loss is calculated"
Dear all,

For my bachelor graduation thesis I hope to use the loss function which is calculated during training to validate my models. However, it is unclear to me how this loss function is calculated. I only saw 1 post shortly discussing the MSE (Mean Square Error) but can anyone confirm this is the one that is used? If not, can anyone tell how it is calculated? Maybe via the MAPE?

Thanks in ad

[2019-11-22 11:22] Xavear commented on #157
Dear AddChickpeas,

I can only answer question 1 for you:
As of version 1.5.0 the timeseries type was removed. You can donut instead. (source: https://loudml.io/en/loudml/reference/current/release-notes-1.5.0.html)

With respect to question 2:
I think you cannot train based on a count but maybe you can transform your data into a form where you have a column called "Is_denied?" with possible values

[2019-11-22 18:45] AddChickpeas commented on #157
Hi Thom,

Thanks for the response. That's the same route I was thinking of taking on it. Another method I had been playing with was using Fluentd to count how many denies, accepts, etc per 30 seconds and output them to their own index.

Do you have any insight on why the example is failing? It's just a simple average calculation on a numeric field.
Here's the full error trace. The model is in the

[2019-11-24 08:29] regel commented on #157
Hi Josh,

You wrote:

[code]

Average of bytes? Perhaps replacing `avg` by `count` is what you intended (point 2) for bytes-model.

I can improve error logging. The Elasticsearch query is probably returning an exception although it is not caught nor printed here.

[2019-11-24 08:44] regel commented on #158
Hi Thom,

mean_square_error is only one component. See file `donut.py` line 123. The other component is KL loss calculated on the VAE latent space data. Our current implementation differs from the original DONUT that parametrize the variance, whereas ours is using log_var. This leads to a different loss value.

[code]

This variant of VAE loss is modified (calculation of beta) to discard the effec

[2019-11-24 13:31] regel commented on #156
WIP. I will release loudml-python 1.6.3 to fix this issue. The multiprocessing Pool will go away and be replaced with some aiohttp magic loading the files in parallel.

[2019-11-25 06:53] lessenko commented on #156
Hi @regel, Okay. Thanks.

[2019-11-28 12:31] Xavear opened #160 "Chronograf/LoudML compatibility with LoudML 1.6.1"
Dear all,

From what I understand is the latest version of the LoudML/Chronograf not compatible yet with the latest LoudML version. Does anybody have an indication if this will get updated and if yes, an indication of the date?

Thanks in advance!
Thom

[2019-12-02 20:04] KarstenB commented on #122
I am stuck in the same position and have currently no idea on how to train my data on real-world production data if loudml requires admin privileges. I have no problem creating a READ/WRITE user for a specific database, with read privileges for the production data. But allowing that user to drop stuff?!
Or am I missing something here?

[2019-12-05 06:59] regel commented on #156
The fix should be ready this Saturday

[2019-12-05 07:06] regel commented on #160
Winter is already here, but the update is coming. I will do a minor update to solve the compatibility issues and update the docker-compose example.

[2019-12-06 02:58] suresh4bitsnbytes opened #162 "TICK-L stack not able to detect/predict anamoly."
I am using TICK-L stack (ver 1.5.0) to find anomaly in briquettes consumption data for steam generation. I get data once per day. So, for one year we have 365 days * 1 = 365 data points and trained the model with 9 years data, 2009 - 2018. once it's trained, I haven't noticed any abnormal or anomaly window in training data.
![data explorer](https://user-images.githubusercontent.com/22852268/702916

[2019-12-06 07:20] regel commented on #162
Hi Suresh, very cool data set.

1. Anomalies are not flagged in training data.
You can exclude let say one year from your training set, and then _evaluate_ the model on this last year. Offline analysis is certainly more flexible via the command line. I will give an example in a future post.

2. Annotations are useful in Chronograf to highlight time windows. They insert white markers in visualisati

[2019-12-08 10:21] simplelife2010 opened #163 "Influx 2 support"
Hello there,

will Influx 2.0/Influx Cloud 2.0 be supported anytime soon?

Kind regards
Bruno

[2019-12-08 13:35] regel commented on #163
Hi Bruno, it's one of the FAQ I receive on a regular basis. Just "Hit the Like button" and let see if there is a high demand for this.

[2019-12-08 14:08] regel commented on #155
Thanks @langerma

That's right. Update is in progress to fix the compatibility issues with Loud ML `master` branch.

[2019-12-08 14:08] #155 closed

[2019-12-08 18:47] regel commented on #156
Just released [loudml-python](https://pypi.org/project/loudml-python/) 1.6.3.

The master version of loudml is also updated.

@lessenko let me know if it solves the issue.

[2019-12-09 07:19] suresh4bitsnbytes commented on #162
Hi sebastian, Thanks for the reply.
I need further clarification
**"You can exclude let say one year from your training set, and then evaluate the model on this last year. Offline analysis is certainly more flexible via the command line. "**

Exactly as mentioned by you, only 2009 to 2018 data has been used as a training set. And I am using 2019's data for evaluation.

However I am pushing 2019 da

[2019-12-09 08:41] Xavear commented on #160
Great to hear! I am looking forward to it!

[2019-12-09 13:55] sve71 opened #164 "Installing the TICK-L (Chronograf)"
Hello,
I've written the same [here](https://github.com/loudml/chronograf/issues/45), but I'm not sure that project is still actual (the last msg was in Dec, 2018). That's why I decided to leave one more message in this place. The thing is...
I'd like to install TICK-L stack without using Docker. According the [instructions](https://github.com/loudml/chronograf#installation):
- [there](https://infl

[2019-12-11 05:24] #164 closed

[2019-12-12 10:22] gregpaluyo opened #165 "LoudML + ElasticSearch: GUI to view predicted data"
Was able to create model and train it using ElasticSearch as datasource. Was able to to run and  predict data  but not sure what interface should I use to view the result. If Chronograf is used for Loudml + InfluxDB, what's for LoudML + ElasticSearch?

Please advise

[2019-12-15 03:08] #165 closed

[2019-12-16 10:31] KevinM23 opened #166 "Debian/Ubuntu packages unavailable"
Hi,

Following this instructions:
https://loudml.io/en/loudml/reference/1.5/install-loudml.html

The commands:
[code]

And:
[code]

Return 'ERROR 404 not found' errors.

[2019-12-16 14:48] Xavear commented on #160
Dear @regel ,

Do you have an indication when this update will get released?

Thanks in advance!
Thom

[2019-12-16 15:04] Xavear opened #167 "LoudML out of nowhere removes all retention policies and respective data"
Dear all,

I'm currently running loudml 1.5.0 and train my models via loudml/chronograf 1.6.1. Three models where trained successfully and had been running for several days. But out of the blue all my retention policies got deleted, making me lose all the respective data. This has already happend twice now.

Does anybody have a clue what might cause this or what might fix it?

Thanks a lot!

Thom

[2019-12-17 07:01] regel commented on #167
Hi Thom, the code in influxdb.py reads and writes (new) data points. So I have no clue on what happens in the problem described.

Try to enable influxdb debug logs including log queries to clear any doubts about incoming queries.

[2019-12-17 07:04] regel commented on #160
Hi Thom, Xmas holidays seems like the perfect time. I will have a look soon. The main goal here is restoring compatibility with Loud ML master version and building/pushing a new Docker image.

[2019-12-17 10:00] trungkysis opened #168 "can not create prediction dashboard for model"
influxdb : latest
telegraf : latest
loudml/chronograf : 1.6.1
loudml/community : 1.5.0

After trained model, could not link to dashboard or start forecasting.

<img width="1440" alt="Screen Shot 2019-12-17 at 16 56 02" src="https://user-images.githubusercontent.com/38279466/70985406-a4f44a80-20ee-11ea-9e36-d810691788d9.png">

[2019-12-19 14:27] gilangcp opened #169 "Dot in measurement name cause regular expression issue when performing training"
Hi,

I am working with LoudML latest-devel, When I tried to invoke the training HTTP API it resulted in the following message:

`ERROR:root:job[559dcf5d-6a27-4919-a26f-f2d8b23d2e73] failed: invalid field measurement: does not match regular expression`

Example of measurement in the bucket:
`project.JvmFreeMemory`

Any Idea on how to solve this?

Thank you!

[2019-12-20 08:10] KevinM23 opened #170 "Chronograf - An error has occurred"
Hi,

Without any apparent reason Chronograf is giving an error when trying to view the LoudML section:

When checking the console of the browser, the error is:

Pointing to:
`TypeError: "e.filter is not a function"
    get http://x.x.x.x:8888/app.86ea7aa1131d68ba2877.js:239`

![Screenshot from 2019-12-20 09-07-13](https://user-images.githubusercontent.com/27135578/71240077-85d10500-2308-11ea-9d20-

[2019-12-20 08:51] #170 closed

[2019-12-21 08:25] #156 closed

[2019-12-23 15:59] simplelife2010 opened #171 "POST /models/cpu_and_mem-model/_start will never write any points"
When I start a periodic inference using the REST API, I never get any data written to my influxDB:

[code]

Looking into ```loudml/server.py```, the params for the scheduled job are set up like this:
[code]

```save_output_data``` is stored in ```save_prediction```. This results in the following API call for ```_eval```:

[code]

The prediction job is set up like this:
[code]

It seems to me that

[2019-12-25 19:45] regel commented on #171
Hey, nice catch. I'm patching this now. Thanks and Merry Christmas

[2019-12-25 19:49] regel commented on #171
Waiting for a new Docker image, the night build will do the job.

[2019-12-30 13:30] sve71 opened #172 "loudml/chronograf with nginx"
Hello there,
I’m using TICK-L stack that was installed via docker. I’ve extended the existing bundle with one more container with nginx inside. The thing is loudml/chronograf doesn’t work properly in the configuration. When I try to refer to the Web-interface of Chronograf by using the link http://host:8888/chronograf, no pages are displayed.
I’ve tried [the](https://github.com/influxdata/chronogr

[2020-01-03 16:40] simplelife2010 commented on #171
I can confirm that the prediction now successfully writes data to influxDB.

[2020-01-03 16:40] #171 closed

[2020-01-05 09:49] regel commented on #168
I am facing the same issue. The ‘create dashboard’ menu no longer works and I need to investigate why.

[2020-01-05 09:51] regel commented on #160
Almost complete. I will clean up the code and push this one ASAP.

[2020-01-05 09:56] regel commented on #172
This could be the base path. I never used this environment variable before.

Any logs in the Docker console?

The chronograf server is written in Go and encapsulates the React App in addition to reverse proxy.

Can you share a snippet of the new docker compose file with Nginx?

[2020-01-05 09:57] regel commented on #169
Hi, can you please dump the Loud ML version number?

[2020-01-05 09:58] regel commented on #151
Ref #160

[2020-01-05 10:11] Xavear commented on #160
Great! Thank you so much, looking forward to start using it!

[2020-01-05 16:54] sve71 commented on #172
Hello,

As I understand according the documentation the BASE_PATH is the URL path prefix under which all chronograf routes will be mounted.

I’m using Ansible to deploy the current setup. The snippet you’ve mentioned (with discussed env variable):
[code]
 The _docker logs chronograf_ command shows just the following:
[code]

What other logs (dumps of network traffic, chronograf's logs inside its c

[2020-01-06 13:06] gilangcp commented on #169
[code]

I put the measurement name on the bucket. If I put the measurement name into the model it self, other error occured:

[code]

Thanks

[2020-01-06 13:30] simplelife2010 opened #173 "Scheduled predictions terminate with errors"
I started experimenting with the _start api call to get regular anomaly detections. In my setup I had 4 models running simultaneously. The scheduled jobs are visible via list-scheduled-jobs. After about 24h they stop producing output and I recieve the following error:
[code]

It seems to me that a scheduled job tries to call the _eval function via api and gets a timeout. After that, all scheduled

[2020-01-09 12:30] simplelife2010 commented on #173
Could this be the problem?

The exception is raised here (perhaps due to a database connection problem, I don't know):
```requests.py```
[code]
The signature does not conform to
```errors.py```
[code]
This would explain the TypeError. And that one could perhaps stop the scheduled job from working.

[2020-01-10 12:47] simplelife2010 commented on #173
It actually explains the TypeError. I patched the code in ```requests.py``` to just provide an ```str(e)``` as parameter for ```errors.ConnectionTimeout```.

The problem is now, that the exception ```ConnectionTimeout``` is not catched inside ```server.py```. The result is, that all scheduled jobs stop working. Should there be a try-block around ```perform_request```? Then, if we run into a timeou

[2020-01-12 10:25] regel commented on #173
Hi Bruno. Thanks for all the infos. I can reproduce it, and will push a quick fix today.

[2020-01-13 06:27] regel commented on #168
ETA: this Wednesday

[2020-01-13 06:32] regel commented on #160
ETA: this Wednesday.

I only have to cleanup minor issues before pushing new Docker containers.
I will also update docker-compose files in order to run all containers with a seamless user experience.

[2020-01-13 06:37] regel commented on #166
So the plan here with 1.6 is to publish DEB files using OBS build service, and RPMs using COPR build service for Fedora distributions. We have to use all standard services available to Open source projects and then update documentation.

Meanwhile, the latest versions are still published on Docker Hub.

[2020-01-13 06:39] regel commented on #151
ETA this Wednesday.

Also note that you will need to use the new docker compose files and run ‘docker-compose pull’ to pull all latest images before running the software.

[2020-01-13 11:48] simplelife2010 commented on #173
I will test it.

I have seen that you have not changed any Exception signatures (see my comment above about ```requests.py``` and ```errors.py```. Is my assumption wrong that we will get a TypeError if ```ConnectionTimeout``` is called with four parameters (including ```self```), when ```__init__``` has only two?.

[2020-01-13 19:48] regel commented on #173
I've done a quick fix that will work, but you're right: the root cause is missing parameters the __init__ call and the exception handling can be improved. I'm still working on these improvements and will add one extra commit to fix this. Thanks so much for the code review.

[2020-01-14 06:46] regel commented on #160
A new release is available.

Update your master branch, cd to docker/compose directory. Follow instructions in the README (docker-compose pull ; docker-compose up).

I will fix minor bugs in the coming days.

[2020-01-19 15:14] regel commented on #168
Solved btw. Seems like I forgot to update Github.
The new docker compose file is available on master. The core functions are here, minus one or two issues that I will resolve later.

[2020-01-19 15:15] #168 closed

[2020-01-19 15:17] regel commented on #151
Solved, but you need to checkout the new docker-compose file available on master.
Also run docker-compose pull to update your local images.

[2020-01-19 19:21] simplelife2010 commented on #173
I can confirm that the issue is solved.

[2020-01-19 19:21] #173 closed

[2020-01-20 13:59] KevinM23 commented on #160
The new release is working fine. However, in the new release Chronograf gives an issue viewing the ' Hosts list ' which never happened before:

' A chronograf error has occurred. Please report the issue here'

I tried making two fresh-clean installs in two different systems, both show the same problem.

[2020-01-21 09:16] KevinM23 opened #175 "Scheduled forecasting LoudML 1.6.0"
Hello,

I'm trying to use the example provided here:
https://github.com/regel/loudml/blob/master/loudml/examples/config.yml

`# scheduled_jobs hacks #2:
# Uncomment the following lines to perform a one day forecast
# and update this forecast every ten minutes for all models.
# Note the {{model_name}} placeholder:
#scheduled_jobs:
#  - name: "forecast({{model_name}}) every five minutes"
#    relati

[2020-01-21 14:54] ntlex commented on #98
What is the ETA on this? Any updates?

[2020-01-22 07:34] HazelCindy opened #176 "Elasticsearch index output"
When i run the eval-model command the output index is not sent to the Elasticsearch although i have defined in my config file the output target and also specified in the eval model command

[2020-01-22 07:34] #142 closed

[2020-01-22 12:28] KevinM23 commented on #175
Apparently, whether I configure this or not in the loudml.yml file makes no difference. So the whole scheduled_jobs function is not working.

[2020-01-22 12:42] robertsLando commented on #36
@regel Hi, my measurements have differents values inside that are identified by a specific tag. For example I have a measurement `kwh` with a taf `_id` that identify the id of the device. So to train the model I need to specify also this, Is this feature already available now or is still a work in progress?

[2020-01-23 09:37] #176 closed

[2020-01-30 07:08] regel commented on #175
Hi,
Thanks for the logs. So the error is”bucket not found”

loudml_1      | ERROR:root:job[42d1a3b9-affa-488b-8f3d-929944e9d613] failed: Bucket not found (name = 'telegraf_autogen_disk')

Actual root cause: #148

[2020-01-30 07:09] regel commented on #148
I will patch this one quickly

[2020-01-31 01:36] zurdofio opened #192 "Moving Average Operator Support"
Hi Sebastien how are you?

Are you planning to support Moving Average as metric operator?.

In models with a lot of variation between samples we can see fake anomalies that could be solved if we work with the moving average operator rather than sum(), for example.

Thanks
Martin

[2020-01-31 10:30] simplelife2010 opened #193 "Duplicate anomaly entries in InfluxDB?"
Hi,

I am running several anomaly detection jobs. When I look into InfluxDB, it seems that when is_anomaly changes status, two records are created for that timestamp. See records 2 and 3 below.

Is that behaviour expected?

[code]

[2020-01-31 11:42] gilangcp commented on #169
I tried to use the new chronograf and upgrade the LoudML to the latest version, the issue still persists.

[code]
[code]
![Annotation 2020-01-31 122919](https://user-images.githubusercontent.com/1003224/73536811-239b1200-4427-11ea-8e71-6943fc99667c.jpg)

Thank you!

[2020-01-31 13:48] gilangcp commented on #172
Hi @sve71 , I believe I got similar issue, However I also have a workaround. The thing is that the       LOUDML_URL not working if you have custom base path. For example, I use `https://myurl.com/loudml/chronograf `as the base url, The Chronograf always look at this URL: `https://myurl.com/loudml/chronograf/loudml/api/buckets ` not the `LOUDML_URL` when I click the LoudML tab.

The work around is

[2020-02-06 07:28] sve71 commented on #172
Hi, @gilangcp
Thx a lot for your feedback.

The location directive
`location ^~ /loudml/chronograf/loudml/api/`
This is exactly what I needed. With the configuration you wrote above everything works well.

Let’s make a conclusion for other participants for the future.
If it’s needed to deploy LoudML installation with using proxy server, such as nginx, we may to do the next steps:
- define how our

[2020-02-06 07:33] #172 closed

[2020-02-11 04:53] trungkysis commented on #168
thanks so much

[2020-02-16 11:57] RomanPlusPlus opened #204 "Source code of the .deb package is missing"
Hi! I would like to build the entirety of Loud ML from source files.
But I'm unable to find the source code for the .deb package that is required according to the [Install Loud ML page](https://loudml.io/en/loudml/reference/1.5/install-loudml.html).
Where can I find it?
Thank you!

[2020-02-16 20:19] regel commented on #204
Hi.

You can. The source code is in Python and uses standard packaging practices.

Wait a few days, I'm working on the DEB packages release using the OBS service. Meanwhile, I'd recommend using Docker images already available on Docker hub: https://hub.docker.com/r/loudml/loudml

[2020-02-19 07:15] #151 closed

[2020-02-19 07:17] regel commented on #119
Compatibility issues solved by latest loudml and Chronograf docker images.

[2020-02-19 07:17] #119 closed

[2020-02-19 07:18] #105 closed

[2020-02-19 08:24] sve71 opened #207 "LoudML usage"
Hi everyone! Hope you are all doing well.

Could you help me, please, with the questions below?

- How are values scored to set alerts?
- Is it possible to control metrics only for the current time of day? For example, I’d like to monitor and send alerts only if an anomaly happens at night.
- Are there the best practices for preparing and training models in LoudML? For example, how to take seasona

[2020-02-19 08:39] vsergeyev opened #208 "Traceback on macOS - /etc/os-release file not present"
Hello, running loudmld in dev environment on macOS 10.14 and got a traceback

    Traceback (most recent call last):
    File "/Users/vserh/Documents/Temp/loudml/loudml/loudml/server.py", line 107, in wrapper
        return job_func(*args, **kwargs)
    File "/Users/vserh/Documents/Temp/loudml/loudml/loudml/server.py", line 1878, in daemon_send_metrics
        send_metrics(g_config.metrics, g_stor

[2020-02-21 07:59] vsergeyev commented on #208
Btw, I see another workaround from docs - setting in config.yml

    metrics:
      enable: false

[2020-02-21 12:59] simplelife2010 commented on #193
Please let me know if I can assist with debugging.

[2020-02-21 13:16] simplelife2010 opened #213 "is_anomaly tag not written correctly to InfluxDB for eval function"
I set up an eval job for a trained model to classify 1 month of historical data.

```settings.json```:
[code]

I start the eval job with ```-s -a```. Looking at the logs, I can see that the model correctly recognizes the beginning and the end of anomalies:

[code]

Unfortunately, is_anomaly is always set to 'False' in InfluxDB:
[code]

Interestingly, persisting the is_anomaly flag in InfluxDB seem

[2020-02-21 13:18] simplelife2010 commented on #213
I repeated this with some more data and ended up with a different scenario where ```is_anomaly``` is always set to 'True' in InfluxDB independent of the actual anomaly status shown in the logs.

[2020-02-21 13:34] zurdofio opened #214 "sum of multiple values with a match_all query"
Hi,

I would like to create a model using a sum operator of mutiple values.

I tried using the following sintax without success:

`{"tag": "HOSTNAME.keyword","value":"node1"},{"tag": "HOSTNAME.keyword","value": "node2"}`

match_all query is the only way to setup a query in elastic?

regards
Martin

[2020-02-23 07:42] #208 closed

[2020-02-25 20:40] #91 closed

[2020-02-26 13:49] simplelife2010 opened #219 "How to integrate new model types?"
Could I get some advice on how to integrate my own model into LoudML? I have not found any documentation yet, so any hints on how to start are much welcome.

Kind regards
Bruno

[2020-02-26 16:44] langerma opened #220 "training failed"
Good Evening,

I tried to train a model on opentsdb but somehow it ends up with an error:
`127.0.0.1 - - [2020-02-26 17:36:35] "POST /models/opentsdb-test/_train?epochs=100&max_evals=10&from=now-90d&to=now&continue=False HTTP/1.1" 202 153 0.041613
I0226 17:36:35.877790 548386684944 worker.py:45] job[8b36f0c9-7093-4251-81f6-09e75beba377] starting, nice=5
I0226 17:36:35.946151 548386684944 donut.py:

[2020-02-27 22:16] regel commented on #219
Hi Bruno, what type of model do you have in mind?

Some guidelines for pull-requests regarding new models can be found in a short README [file](https://github.com/regel/loudml/blob/develop/docs/MODELS.md)

Another interesting use-case would be to have some kind of "loudml-sdk" where users can run and customize their own model for specific data. One inspiration to go in this direction is the rasa-s

[2020-02-27 22:21] regel commented on #214
Hi Martin, unfortunately, I don't think queries with "sum of multiple attributes" are supported at this point in loudml. I've seen "scripted" queries in ES however I'm not sure they are stable enough over Elastic's major releases. What is your actual query in Elastic?

[2020-02-27 22:23] regel commented on #213
Thanks. Let me try to reproduce this. I will post some feedback.

Version of the loudml-python client installed in your local env?

[2020-02-28 00:10] zurdofio commented on #214
Hi @regel ,

Thanks for you reply!.

this is the complete query im sending to Elastic:

`{
"query":{
"bool":{
"filter":[
{
"range":{
"@timestamp":{
"gte":"1582826510972",
"lte":"1582848110972",
"format":"epoch_millis"
}
}
},
{
"query_string":{
"analyze_wildcard":true,
"query":"type:TRAFFIC AND HOSTNAME.keyword:(NODE1 OR NODE2)"
}
}
]
}
},
"aggs":{
"2":{
"date_histogram":{
"interval":"2m",
"field":

[2020-02-28 13:13] sve71 commented on #207
Hello there,

Any comments? If it's the wrong place, tell me, please, where I can ask the questions.

Thx a lot:)

[2020-03-02 16:59] simplelife2010 commented on #213
I used version 1.6.3.

[2020-03-02 17:16] simplelife2010 commented on #219
I will try to implement sth. using the directions in the README.

What type of model? I am not sure. It might be that Donut is not working well with our use case. Still we like the approach of LoudML a lot and would probable use it with our own models. I want to implement sth. really basic just to understand how a model is integrated into LoudML so we can decide if we are able to use LoudML withou

[2020-03-03 13:30] simplelife2010 commented on #219
I'd also like to understand how the image on DockerHub is built. Is there a Dockerfile?

I am asking because if I create a new model, it would have to be integrated into an individual Docker image.

[2020-03-04 05:51] regel commented on #219
Hi Bruno,

Yes.

You can build the docker image locally by running `docker build .` This is building the CPU image.

If you fork the repo, just commit new Python files in the loudml directory and run the above command to generate the image. I recently moved 'entrypoints' to `loudml/__init__py` so you will have to edit this file too.

Or, if you prefer, create a local virtualenv and install the lou

[2020-03-04 05:54] regel commented on #204
WIP. New deb files will be available and built continuously in the CICD pipeline in the next 5-6 days.

[2020-03-04 06:08] regel commented on #192
Hey, good thanks!

In general, loudml relies on the bucket underlying aggregation operators.

In some instances, you can fine-tune `bucket_interval` and `span` parameters in the model definition. If the bucket interval is too low, high-frequency noise in the data will trigger false positives. If span (that is: the window of observation) is too low, the same thing will happen.

Helpful heuristics:

[2020-03-04 06:08] regel commented on #166
WIP. New deb files will be available and built continuously in the CICD pipeline in the next 5-6 days.

[2020-03-04 06:15] regel commented on #167
Set for troubleshooting 'query-log-enabled = true' and then restart the service. This will log all queries and make it easier to spot DELETE queries or inspect the logs if the issue is reproduced.

setting in `influxdb.conf`:

influxdb.conf
[data]
...
query-log-enabled = true

[2020-03-04 06:17] regel commented on #160
Thanks Kevin. Same here. I could not find an obvious cause and will need more time to debug.

[2020-03-04 06:23] regel commented on #207
Hello. I noticed the questions but some may be out of scope for Github issues.

Loud ML is first designed to make ML easier to use and more accessible. One first model supported is specialized for anomaly detection use-cases. However, we aim for a larger audience and new ML model implementations can be added (eg. add your own) and contributed in order to open new verticals and new applications. Re

[2020-03-05 05:11] rohan2546 opened #226 "loudml on mac"
Couldn't find a way to install it on mac

[2020-03-05 11:59] simplelife2010 commented on #226
Server or CLI?

Server: You could use the loudml docker image.
CLI: Works for me using pip install.

[2020-03-05 12:23] simplelife2010 opened #229 "loudml on OpenShift"
Hi,

I have made some changes to the Dockerfile to deploy loudml on an OpenShift cluster. Is that something you would want in your codebase?

Bruno

[2020-03-06 06:27] regel commented on #229
Sounds super cool. I’m happy to review and give some feedback.

[2020-03-06 06:30] regel commented on #226
Hey I’m a Mac user too! You’re right, I should make the installation easier for Mac users and update the documentation. There’s lots of ongoing improvement for Debian-based distros. I will do the Mac right after.

[2020-03-06 06:33] regel commented on #193
Strange. The model-name should be a tag. In fact, every data point written to the TSDB should be tagged with the model-name and this should avoid duplication.

[2020-03-06 07:01] rohan2546 commented on #226
Thanks this will help. I am new to docker, so going through installation

[2020-03-06 15:33] simplelife2010 commented on #229
Well there is two things to take into account without overriding defaults in OpenShiift:
1. Your are not allowed to run a container as root
2. The user that runs the container is not known by name. That means he has only a random user id on the OS level.

This is what I did to make it work:
[code]

This means:
1. Make /var/lib/loudml accessible for a non-privileged user:
[code]
This is exactly wha

[2020-03-06 15:37] simplelife2010 commented on #229
I admit that the modified CMD would not work on a normal Docker setup when a username exists. Perhaps we could change it so at runtime it checks whether a username exists or not.

[2020-03-06 15:42] simplelife2010 commented on #219
Thanks.
I have some trouble building loudml on OpenShift. I would like to skip this issue. Could I hack my new class into your Docker image? I mean, like copying it in the folder where donut.py sits?

Regarding your documenation I would like to understand what it means exactly for my model class to conform to the Model interface. What methods do I need to implement?

[2020-03-09 13:55] langerma commented on #220
any update on this?

[2020-03-12 07:26] regel commented on #229
Hi Bruno, thanks so much for this!

Can you please provide more details about point 3, what is the error you see?  What prevents the daemon from running?

Did you look at Bitnami packaging guidelines and UID 1001? I'd like to change the Dockerfile first to enable UID 1001, and then look into OpenShift. Sounds like a plan?

[2020-03-12 08:17] rohan2546 opened #234 "cant find deb file from official website"
http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb/packages/1.x/apt

Its not working please provide a fresh link
Also,
sudo apt-get install loudml leads to this
Err:13 http://ppa.launchpad.net/couchdb/stable/ubuntu bionic Release
  404  Not Found [IP: 91.189.95.83 80]
Err:14 http://loudml.s3-website-eu-west-1.amazonaws.com/repo/deb/packages/1.5/apt stable Release
  404  Not Found [IP: 52.21

[2020-03-12 09:01] rohan2546 commented on #226
docker run -ti -p 8077:8077 -v $VOLUME/etc/loudml/config.yml:/etc/loudml/config.yml:ro  -v $VOLUME/var/lib/loudml:/var/lib/loudml:rw loudml/loudml

Unable to find image 'loudml/loudml:latest' locally
docker: Error response from daemon: manifest for loudml/loudml:latest not found: manifest unknown: manifest unknown.
See 'docker run --help'.

what is this error

[2020-03-12 09:02] #234 closed

[2020-03-12 13:18] simplelife2010 commented on #229
Hi,

I cannot reproduce the issue #3 any more. It  seems the service works without the modification. No idea why I had to do this in the beginning. Perhaps I had used an older loudml Docker image.

[2020-03-13 09:02] #226 closed

[2020-03-23 09:32] vsergeyev commented on #220
Hello @langerma

I'm going to check if OpenTSDBBucket working well.
Will use your model with some random data here.

Regards,
V.

[2020-03-23 10:21] langerma commented on #220
okay thx. if you need any additional information, i'd be glad to share

[2020-03-29 21:36] valyala opened #250 "Add ability to read / write data from / to VictoriaMetrics"
[VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics) is easy to operate and fast time series database. It would be great adding ability to read / write data from / to it. The following HTTP APIs can be used:

* [/api/v1/export](https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/README.md#how-to-export-time-series) for data reading
* [/api/v1/import](https://github.com/

[2020-03-30 19:41] regel commented on #137
Solved.

Fedora COPR pipeline builds rpm continuously. The repository can be enabled via:

`$ dnf copr enable regel/loudml
`

[2020-03-30 19:41] #137 closed

[2020-03-31 11:39] vsergeyev commented on #220
@langerma during investigating your issue, I have found an error in query results alignment.
https://github.com/regel/loudml/pull/253

But this is a case after model has been trained. This is a step where it runs.

I used similar model you have with only one major difference - train data was for ~3 hours.
May you please try a smaller dataset on your side after this pull request will be merged.

Re

[2020-03-31 12:08] langerma commented on #220
i will try.

[2020-04-07 07:24] regel commented on #250
Hi Aliaksandr,

Contributions are welcome. You can open a new pull-request. Refer to the latest contributions including OpenTSDB and Prometheus (WIP) in the Pull requests tab for great examples.

Thanks

[2020-04-07 07:25] regel commented on #220
Pull-request from Volodymyr merged in `develop`

[2020-04-07 07:38] regel commented on #229
Hi Bruno. I merged the above changes in `develop` thanks so much for lighting the way!

`/opt/vendor` contains the virtualenv of Loud ML dependencies so I used `chgrp` on this directory as well.

[2020-04-07 07:41] regel commented on #229
Let me know if we can close this item. If you need to change the base image for OpenShift, maybe you can set "--build-arg base_image=xxxxx" during your Docker build.

[2020-04-07 07:44] #207 closed

[2020-04-07 07:47] regel commented on #204
All debian/* files needed to build Debian packages are now available in `develop` branch. I have tested packaging with Debian stretch, buster, Ubuntu xenial and Ubuntu bionic. So far, so good.

However, finding affordable Debian package hosting is yet another issue. I'm setting up a dedicated APT repository and file hosting on S3. Work in progress.

[2020-04-07 07:48] regel commented on #166
All debian/* files needed to build Debian packages are now available in `develop` branch. I have tested packaging with Debian stretch, buster, Ubuntu xenial and Ubuntu bionic. So far, so good.

However, finding affordable Debian package hosting is yet another issue. I'm setting up a dedicated APT repository and file hosting on S3. Work in progress.

[2020-04-07 21:31] langerma commented on #220
seems like the error is still there:

`> train-model -f now-1h opentsdb-test
training(opentsdb-test): : 1it [00:01,  1.02s/it]
'generator' object is not subscriptable`

and loudml log:
`127.0.0.1 - - [2020-04-07 23:27:26] "POST /models/opentsdb-test/_train?epochs=100&max_evals=10&from=now-1h&to=now&continue=False HTTP/1.1" 202 153 0.011060
I0407 23:27:26.895211 548067610640 worker.py:45] job[f9c52

[2020-04-11 16:17] regel commented on #220
I might have figured this out. Pull request coming before Sunday with a few optimizations.

[2020-04-12 09:24] vsergeyev commented on #250
Hello @valyala ,

From documentation my understanding VictoriaMetrics mimics Prometheus API in term of queries.
I'm currently working on https://github.com/regel/loudml/pull/254
This is Prometheus bucket support.

If it is a chance you may test it on your side and provide comments.

Regards,
V.

[2020-04-12 15:35] simplelife2010 commented on #229
Thank you! I hope I will find some time soon to retest.

[2020-04-12 15:38] simplelife2010 opened #264 "Redis buckets"
I plan to run loudml on a small Docker-enabled device with a Redis container already on it. Does it make sense if I try to implement a custom loudml bucket based on Redis, or does Redis lack some important feature?

[2020-04-12 18:22] regel commented on #220
I'm not sure I figured out exactly what happens in count aggregations plus downsampling but unit tests seem to work now. It was hard!

Also, OpenTSDB seems to align bucket timestamps with bucket-interval multiples all the time. Good to know.

@vsergeyev Pull-request ready to be merged: https://github.com/regel/loudml/pull/263

[2020-04-14 06:03] langerma commented on #220
i will try to test it today

[2020-04-15 13:12] valyala commented on #250
Yes. VictoriaMetrics supports Prometheus querying API - see [these docs](https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/README.md#prometheus-querying-api-usage). Additionally to this it supports `/api/v1/export` handler for returning raw data. See [this article](https://medium.com/@valyala/analyzing-prometheus-data-with-external-tools-5f3e5e147639) for the context.

@dlazerka , cou

[2020-04-21 21:01] regel commented on #166
I did it! Setting up this Debian/Ubuntu repo was SO hard but I believe it's done the right way. HTTPS and GPG signatures enabled.

[code]

So now you can do `apt-get install loudml` on a modern Debian and Ubuntu and it will work.

One exception: I could not do Ubuntu Xenial (16.04), python 3.5 is no longer supported in so many pip packages that I have to drop support for Xenial.

If you like this

[2020-04-21 21:01] regel commented on #204
I did it! Setting up this Debian/Ubuntu repo was SO hard but I believe it's done the right way. HTTPS and GPG signatures enabled.

[code]

So now you can do `apt-get install loudml` on a modern Debian and Ubuntu and it will work.

One exception: I could not do Ubuntu Xenial (16.04), python 3.5 is no longer supported in so many pip packages that I have to drop support for Xenial.

If you like this

[2020-04-23 07:11] RomanPlusPlus commented on #204
Hi Regel, thank you for your hard work! I'll try to build it from source files and will report the results.

[2020-05-04 14:39] simplelife2010 commented on #229
Is the mentioned patch not yet in Dockerhub?

[code]

[2020-05-04 16:55] circleme opened #299 "Running Donut generator on a hardware accelerator via onnx"
My client wants me to demonstrate LoudML running on their existing TPA hardware for fast time-series predictions/anomaly detection.   In general, rather than running the generator in TF on a CPU, my pull request would entail an optional conversion of the generator to Onnx.  Then  proprietary code would load that onnx file to the hardware and shuffle buckets to keep up with it. I assume you would n

[2020-05-04 17:16] vsergeyev commented on #264
Hello @simplelife2010

From my point of view it is good idea.
Please take a look at memory bucket as a reference.

Regards,
V.

[2020-05-04 19:46] regel commented on #229
Oops. Something is odd. I should clarify this in the documentation.

The `master` branch is currently tagged latest-devel. The latest commit is from January and matches the tag you just pulled. I guess it should be renamed into 'latest' to comply with standard tag names in Docker.

Every night, `develop` is built and tagged `nightly`.

Tags available:

- loudml/loudml:nightly-noavx
- loudml/loudml

[2020-05-07 08:27] wooyey commented on #149
Well I've faced with similar issue on new Elasticsearch (7.6.2).
I've made some patches - quite easy for 7.x and more generic (which I don't like too much ;))
If you are interested in I can send you patches for review (according to your contribution guide) by the end of this week.
You know, need to cleanup it first...

[2020-05-07 17:20] simplelife2010 commented on #229
Thank you, it works now.

[2020-05-07 17:20] #229 closed

[2020-05-07 20:06] #167 closed

[2020-05-07 20:06] #204 closed

[2020-05-07 20:14] regel commented on #149
Hi Woo! This will be awesome! Please open a pull-request so I can help to clean it up

I'm also interested in your opinion on: https://github.com/regel/loudml/pull/279

Updating this dependency seems OK at first. It passes unit tests. Still, we could find a blind spot in this update.

[2020-05-08 13:41] vsergeyev commented on #264
@simplelife2010 if you started to write a code, I may help you - just put a draft PR or point me to your commits.

V.

[2020-05-11 11:21] wooyey commented on #149
Hey Sebastien!

Sorry for late response... I'm just too lazy bastard ...
After going through ES documentation from 2.x till 7.x it seems that it's quite trivial patch to specify explicit time format. So it's one liner now.
Unfortunately I cannot run default queries using "painless" code which:
- I don't know why is there ...
- Produce deprecated warnings on my ES version (7.6.2)
- Doesn't like my

[2020-05-12 05:56] regel commented on #149
Merged https://github.com/regel/loudml/pull/305

[2020-05-12 11:03] wooyey commented on #60
Just wondering Sebastien if you are interested in quick fix of this bug as well?
It's here for a long time ... but it could be fixed quite easy. At least I think so.

[2020-05-13 15:45] wooyey commented on #60
Hey @regel!
What you think about such approach?
It's a little bit "hackish" and won't work if data differs (e.g. score value) for same timestamp. Still do the job for duplicated data as is in the ticket.

[2020-05-13 20:04] regel commented on #60
Hey @wooyey ! I love it. This is genius. PR merged.

[2020-05-15 05:27] #60 closed

[2020-05-15 05:32] #149 closed

[2020-05-18 21:28] vsergeyev commented on #92
This is probably may be closed as implemented.

[2020-05-19 06:05] #92 closed

[2020-05-21 14:29] ICDI0906 opened #316 "where is official Debian or RPM package?"

[2020-05-26 08:10] elsielin opened #319 "Could not train the model"
Hi Regel,

When i tried to train the model, it shows the following error.

`training(mean_usage_system): : 1it [00:01,  1.01s/it]`
`None: Max retries exceeded with url: /query?q=CREATE+DATABASE+%22chronograf%22&db=chronograf (Caused by None)`

I'm using v1.5.0. Could you please kindly advise how to fix? thanks!

[2020-05-27 05:33] #319 closed

[2020-05-27 16:04] AlexGrs opened #322 "how to setup output bucket ?"
So far I am having my model and a training which was ok.

Now when forecasting i got the following issue:

[code]

I was wondering where the output bucket should be configured to change the name to the existing bucket I already have.

[2020-05-27 16:48] AlexGrs commented on #322
for information I am using the modified chronograf to have the create baseline button. I think I saw in the API specs that we can specify the output_bucket in the API call.

[2020-06-09 13:09] tubemeister commented on #316
Yes that.

https://loudml.io/en/loudml/reference/current/ubuntu.html

The current install page says 1.6.0 is not released yet but doesn't offer any options that are available. The 1.5 reference does have instructions for a repository but they're all 404.

[2020-06-09 13:30] ICDI0906 commented on #316
Yes, you are right. I don't know how to do it.

[2020-06-09 13:33] tubemeister commented on #316
Me neither...

The Docker options does seem to do something, but I'd prefer to avoid Docker.

[2020-06-18 16:22] tubemeister opened #340 ""Create baseline" button gives 404"
I'm trying to set up loudml using docker-compose and have chronograf talking to my existing influxdb, seeing proper data, so far so good.

But when I make a query and click the "Create baseline" button, I get a 404:

chronograf_1  | time="2020-06-18T16:01:45Z" level=info msg="Response: Not Found" component=server method=POST remote_addr="x.x.x.x:47772" response_time=1.759522ms status=404

Any idea

[2020-06-25 06:12] regel commented on #340
You can switch to `loudml/loudml:nightly` image and tag, this is the latest. If needed, compare docker-compose file with the version available in 'develop' branch.

[2020-06-25 06:21] regel commented on #322
Hello, bonjour Alexandre,

Use the latest docker-compose example available in develop branch, directory docker/compose. Static configuration file defines the `loudml` bucket here:

[loudml.yml](https://github.com/regel/loudml/blob/develop/docker/compose/etc/loudml.yml)

Use `loudml/loudml:nightly` image tag for now (until I release 1.6.0 tag).

If you are using the command line, I published a REPL

[2020-06-25 06:25] regel commented on #316
1.6.0 is unreleased for now.

Yet, RPM files, DEB files, and Docker images are built every night. So there are options available:

- RPM install: instructions [here](https://github.com/regel/loudml/blob/develop/docs/reference/setup/install/rpm.asciidoc)
- DEB install: instructions [here](https://github.com/regel/loudml/blob/develop/docs/reference/setup/install/deb.asciidoc)
- Docker: Use `loudml/l

[2020-07-07 07:15] tubemeister commented on #340
So the stable release is just broken?

[2020-07-09 06:16] regel commented on #340
To get started: checkout or update develop or master (stable) branch, `cd docker/compose`, then edit the image line and use tag 1.6.0 (stable, tagged 48 hours ago):

`image: loudml/loudml:1.6.0`

Finally, run:

[code]

The forked Chronograf docker image has a single tag: `latest` ; there is still a lot of work to do in this React application. One alternative is the Grafana plugin, maintained by @v

[2020-07-09 07:00] vsergeyev commented on #340
Grafana loudml plugin:

  docker run -d \
  -p 3000:3000 \
  --name=grafana \
  -e "GF_INSTALL_PLUGINS=https://github.com/vsergeyev/loudml-grafana-app/raw/master/loudml-grafana-app-1.4.0.zip;loudml-grafana-app" \
  grafana/grafana

[2020-07-09 07:07] vsergeyev commented on #340
previous example is for Grafana 6.x
for latest 7.x please use

  docker run -d \
  -p 3000:3000 \
  --name=grafana \
  -e "GF_INSTALL_PLUGINS=https://github.com/vsergeyev/loudml-grafana-app/raw/master/loudml-grafana-app-1.4.0-grafana7.zip;loudml-grafana-app" \
  grafana/grafana

Please post any bugs on https://github.com/vsergeyev/loudml-grafana-app

@regel thank you for mentioning me :)

V.

[2020-07-09 08:41] tubemeister commented on #340
Loudml 1.6.0 seems to fix this 404 issue, onto the next issue! ;-)

Loudml seems to connect to influxdb with the env settings given to the chronograf container, stripping off the https somewhere in between. I'll make a new issue for that, to keep things clear.

vsergeyev, I'll have a look at that plugin once I've got loudml running, looks interesting.

[2020-07-09 08:41] #340 closed

[2020-07-09 10:36] tubemeister opened #358 "ERROR:root:400: Client sent an HTTP request to an HTTPS server. (influxdb)"
The loudml docker container seems to connect to influxdb using the settings of the chronograf container, not the ones configured in etc/loudml.yml, and reverting to HTTP in the process.

After getting the error message in the title and double checking that my config files all have HTTPS for my influxdb server, I created a couple of CNAMEs and it turns out loudml is trying to connect (with HTTP) to

[2020-07-12 09:30] Nitesh-vaidyanath commented on #169
@regel Any update on this issue ?

[2020-07-14 05:54] regel commented on #166
Solved. Please refer to the setup guide: https://loudml.io/en/loudml/reference/current/install-loudml.html

[2020-07-14 05:54] #166 closed

[2020-07-14 05:55] regel commented on #136
Updated installation guide: https://loudml.io/en/loudml/reference/current/install-loudml.html

[2020-07-14 05:55] #136 closed

[2020-07-14 06:10] regel commented on #358
The 'ssl' parameter is explicitly given to influxdb python library during initialization. At first glance, it's hard to see if something is missing. The 'chronograf' database is a secondary database used to insert so-called tagged annotations for abnormal data points, and can be renamed in bucket settings.

from influxdb client library:
[code]

[2020-07-16 12:19] tubemeister commented on #358
Err, I can't quite follow you.

So how do I configure loudml to use the correct url and ssl settings if it doesn't seem to use the ones in loudml.yml?

[2020-07-17 08:07] vsergeyev commented on #169
@Nitesh-vaidyanath looking into this

[2020-07-28 07:34] toni-moreno opened #370 "[ERROR] docker image 1.6.0 : "pkg_resources.DistributionNotFound: The 'pycrypto>=2.6.1' distribution was not found and is required by loudml""
Helo @regel

After created a model , when running it , this error appeared in the output docker log and no data in the output db has been generated. Any idea on what to do?

[code]

This is the model info.
[code]

[2020-07-29 20:07] toni-moreno opened #374 "[Feature Request] Add Model Name to the annotations database"
Hello @regel . First let me  congratulate for this wonderful tool.

After playing with loudml.. I've seen there is no way to diferentiate annotations from models, there is no tag `model` or something similar.

So there is no way to filter annotations from each model.

This is how I've seen in my influxdb.

[code]

I hope someone could add this feature.

Thank you very much!

[2020-07-30 06:20] toni-moreno opened #375 "Donut Model doesn't fit well CPU usage , score always 100%"
Hello.

I've readed  loudml documentation and also some examples I've found , and I cannot understand, how I should create/train the model to fit well my  example metric "usage_system cpu" from my server.

I've made a  grafana  dashboard with 2 panels

Panel 1:
 * Real metric  (green line)
 * Predicted metric  (orange dot)
 * Upper bound (blue dashed line)
 * Lower bound(purple dashed line)

Panel

[2020-07-30 17:10] toni-moreno commented on #370
Hello @regel , I've tested again in a new server with  loudml:1.6.0 image and also with today loudml:nightly image, in both the error persist

As a help,  I've found a 'bypass' (while no need to change image) by  installing some basic python packages as root direct inside the image

[code]

no restart needed!!! , suddenly the error log has disappeared and loudml began to write the the output datab

[2020-07-31 05:45] toni-moreno opened #377 "LoudML wants create "output-bucket" influxdb database with "input-bucket" user/pass config"
Hello @regel

I've a little surprised because , I don't understand the input/output bucket logic

this is my configuration

[code]
This is my loudml log.

[code]

[code]
The loudml engine is trying to create the output database 'loudml' (defined in output bucket test-loudml) as user  telegraf defined in input bucket influxdb-linux.

I've configured Loudml/Models to read data from input db (influxd

[2020-07-31 07:05] toni-moreno commented on #150
Hello @regel @langerma , I've reproduced this error when the input bucket leaks / `measurement` and/or `annotation_db`

With this configuration is working ok

[code]

With the the below config this error  `'AttributeError: Can't pickle local object '_compile_scalar.<locals>.validate_value''` happened

[code]

@langerma  I don't know if you have the same config.

Anyway in this context if have seri

[2020-07-31 12:39] toni-moreno commented on #377
Only as related info.

I've tested again with this data flow in mind.

[code]
And right now  loudml are saving annotations in the input-bucket database instead of output-bucket as expected.
This behavior could be a problem in some environments where no admin user is unknown.

Thank you very much

[2020-07-31 21:23] toni-moreno commented on #374
I've configured again the annotation hook, setting id with the model name and the bucket as the output bucket

[code]

but still writting to the input bucket and with something unknown as Id

[code]

[2020-08-03 07:23] langerma commented on #150
@toni-moreno i am not using influxdb anymore :-( so i cannot contribute any more

[2020-08-04 07:11] regel commented on #370
Oops. Very good catch. Thanks Toni. Something is odd in the build. I'm patching the Dockerfile.

[2020-08-04 18:47] regel commented on #377
Hi Toni, ok I understand the setup. I reproduced a similar setup, with read-only access to a database and write-only access to a second database. There are multiple issues. Some of them are solved. See the setup here:

https://github.com/regel/loudml/pull/383

Long story short: annotations were historically saved in a special 'chronograf' database for compatibility with the Javascript UI. Loud ML

[2020-08-04 19:18] regel commented on #316
Updated documentation: https://loudml.io/en/loudml/reference/current/setup.html

[2020-08-04 19:18] #316 closed

[2020-08-04 19:21] regel commented on #370
Solved. Toni, see the above patches and new Dockerfile in `develop` branch if you need to build a local image.

I will tag a new 1.6 release e/o the month.

[2020-08-04 19:23] regel commented on #113
Updated setup guide: https://loudml.io/en/loudml/reference/current/setup.html

[2020-08-04 19:23] #113 closed

[2020-08-04 19:24] regel commented on #101
Updated setup guide: https://loudml.io/en/loudml/reference/current/setup.html

[2020-08-04 19:24] #101 closed